<template>
  <g
    :class="{
      regionActive: isActive,
      regionInActive: !region.companys
    }"
    class="state"
  >
    <path
      :index="index"
      :d="region.path"
      @mouseover="mouseOver(region)"
      @mouseout="mouseOut(region)"
      @click="showTitleDialog(region)"
    ></path>
  </g>
</template>

<script>
export default {
  props: {
    region: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    mouseOver(region) {
      this.isActive = true
      this.$emit('regionInfoHover', region)
    },
    mouseOut(region) {
      this.isActive = false
    },
    showTitleDialog(region) {
      this.$emit('regionInfo', region)
    }
  }
}
</script>

<style></style>
