<template lang="pug">
  div.map-tooltip

</template>

<script>
export default {
  name: 'SvgRegionMapTooltip',
  props: {
    region: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="scss"></style>
