<template>
  <div class="promo-map">
    <div :class="{ isActive: isOpen }" class="map-tooltip">
      <span class="map-tooltip__close" @click="closeTooltip()">
        <svg-icon name="icon-close"></svg-icon>
      </span>
      <h3 class="map-tooltip__title">{{ regionName }}</h3>
      <br />
      <p>Список компаний:</p>
      <ol>
        <li v-for="(item, index) in companyNames" :key="`company_${index}`">
          {{ item.company_name }}
        </li>
      </ol>
    </div>
    <svg viewBox="0 0 990 560" xmlns="http://www.w3.org/2000/svg">
      <SvgRegionPath
        v-for="(item, key) in regions"
        :key="key"
        :index="key"
        :region="item"
        @regionInfo="getCompanys($event)"
        @regionInfoHover="getCompanysLength($event)"
      />
    </svg>
  </div>
</template>

<script>
import SvgRegionPath from './SvgRegionPath'
import dataJson from '~/static/data/data.json'
export default {
  components: {
    SvgRegionPath
  },
  data() {
    return {
      isOpen: false,
      regions: dataJson,
      regionName: '',
      companysLength: null,
      companyNames: []
    }
  },
  methods: {
    getCompanysLength(region) {
      if (region.companys) {
        this.companysLength = region.companys.length
      }
    },
    getCompanys(region) {
      if (region.companys) {
        this.companyNames = region.companys
        this.regionName = region.name
        this.isOpen = true
      }
    },
    closeTooltip() {
      this.isOpen = false
    }
  }
}
</script>

<style lang="scss" scoped>
.promo-map {
  @include media($width_xs_s, 0) {
    display: none;
  }
}

.map-tooltip {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  padding: 0;
  /*text-align: center;*/
  visibility: hidden;
  background-color: $color-white;
  box-shadow: 1px 1px 3px rgba(#000, 0.5);
  transform: translate(-50%, -50%);
  transition: opacity 0.35s, visibility 0.5s, padding 0.4s;

  &.isActive {
    width: 100%;
    max-width: 550px;
    padding: 40px 25px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.35s, visibility 0.5s, padding 0.4s;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  ol {
    padding: 0;
    padding-left: 18px;
    margin: 0;
  }

  li {
    padding: 0;
    margin-bottom: 5px;
    font-size: $fz-large;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

svg {
  width: 100%;
  height: auto;

  .state {
    stroke-width: 1;
    stroke: #fff;
    transition: fill 0.5s, stroke 0.5s, stroke-width 0.5s;
  }
}

svg .state.regionActive:hover {
  //cursor: pointer;
  //stroke-width: 2;
  //stroke: $color-primary;
}

.state {
  fill: $color-accent;
  opacity: 1;
}

.regionActive {
  cursor: pointer;
  fill: $color-circles;
  opacity: 0.8;
}

.regionInActive {
  cursor: default;
  fill: $color-primary;
  opacity: 0.8;
}

p {
  margin: 0 0 10px;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
</style>
