<template>
  <section class="articles">
    <div class="container">
      <h1 class="section-title">Полезные статьи</h1>
      <div class="articles__list">
        <app-news-post
          v-for="post in articles"
          :key="post._id"
          :post="post"
          is-article
        ></app-news-post>
      </div>
    </div>

    <!-- <el-pagination
      :page-size="20"
      :pager-count="11"
      layout="prev, pager, next"
      :total="1000"
    ></el-pagination> -->
  </section>
</template>

<script>
import AppNewsPost from '~/components/AppUi/AppNewsPost'

export default {
  name: 'Articles',
  components: { AppNewsPost },
  async asyncData({ store }) {
    const articles = await store.dispatch('admin/articles/fetchArticles')
    return { articles }
  },
  data: () => ({
    articles: []
  })
}
</script>

<style lang="scss">
.articles {
  padding-bottom: 90px;
}
</style>
