<template>
  <section class="create-article admin-pages">
    <h1 class="admin-page__title">Статья {{ article.title }}</h1>
    <el-form ref="articleAddForm" :model="article" :rules="rules">
      <el-form-item label="Заголовок" prop="title">
        <el-input v-model="article.title"></el-input>
      </el-form-item>

      <el-form-item label="Slug">
        <el-input v-model="slug" disabled></el-input>
      </el-form-item>

      <el-form-item label="Краткое описание" prop="description">
        <el-input v-model="article.description" type="textarea"></el-input>
      </el-form-item>

      <el-upload
        ref="upload"
        class="cover-uploader"
        action="https://jsonplaceholder.typicode.com/posts/"
        :show-file-list="false"
        :on-change="handleCoverChange"
        :auto-upload="false"
      >
        <i v-if="!article.cover" class="el-icon-plus cover-uploader__icon"></i>
        <img v-else :src="article.cover" class="cover-uploader__image" />
      </el-upload>
    </el-form>

    <wysiwyg v-model="article.content" class="create-article__editor" />
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div class="article-content" v-html="article.content"></div>
    <app-btn class="btn-submit" type="submit" @click.native="onSubmit()"
      >Изменить статью</app-btn
    >
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import { slugify } from 'transliteration'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'ArticleAdminDetail',
  components: {
    AppBtn
  },
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store, params }) {
    const article = await store.dispatch(
      'admin/articles/fetchArticle',
      params.slug
    )
    return {
      article: { ...article }
    }
  },
  data: () => ({
    article: {},
    cover: '',
    rules: {
      title: [
        {
          required: true,
          message: 'Заголовок обязательное поле',
          trigger: 'blur'
        },
        { min: 3, message: 'Не меньше 3 букв', trigger: 'blur' }
      ],
      description: [
        {
          required: true,
          message: 'Описание обязательное поле',
          trigger: 'blur'
        },
        { min: 30, message: 'Не меньше 30 букв', trigger: 'blur' }
      ]
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  computed: {
    slug() {
      return slugify(this.article.title, {
        replace: { '.': '' },
        lowercase: true,
        separator: '_'
      })
    }
  },
  methods: {
    ...mapActions({
      updateArticle: 'admin/articles/updateArticle',
      uploadCover: 'imageUploader'
    }),
    handleCoverChange(file) {
      const isJPG = file.raw.type === 'image/jpeg'
      const isPNG = file.raw.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG & !isPNG) {
        this.$message.error('Загрузите jpg или png файл не больше 2MB')
      }
      if (!isLt2M) {
        this.$message.error('Файл не должен превышать размер 2MB')
      }
      if ((isJPG && isLt2M) || (isPNG && isLt2M)) {
        this.article.cover = URL.createObjectURL(file.raw)
        this.cover = file.raw
      }
    },
    onSubmit() {
      this.$refs.articleAddForm.validate(async (valid) => {
        if (valid && this.cover) {
          try {
            await this.uploadCover(this.cover).then(({ data }) => {
              const formData = {
                name: this.$route.params.slug,
                title: this.article.title,
                slug: this.slug,
                content: this.article.content,
                description: this.article.description,
                coverUrl: data.coverUrl
              }

              this.updateArticle(formData)
            })

            this.$toast.success(
              'Пост успешно добавлен',
              'OK',
              this.notificationSystem.options.success
            )

            this.$router.push({ params: { slug: this.slug } })
          } catch (e) {
            console.error(e)
          }
        } else if (!this.cover) {
          this.$toast.error(
            'Не загружено изображение обложки',
            'Ошибка',
            this.notificationSystem.options.error
          )
        } else {
          this.$toast.error(
            'Заполнить обязательные поля',
            'Ошибка',
            this.notificationSystem.options.error
          )
        }
      })
    }
  }
}
</script>

<style lang="scss">
.cover-uploader {
  margin-bottom: 22px;

  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #409eff;
    }
  }

  &__image {
    width: 600px;
    height: 240px;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__icon {
    font-size: 28px;
    color: #8c939d;
    width: 600px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
