<template lang="pug">
  section.equipments
    .equipments__wheat
      img(src="~/static/images/wheat_1.png" srcset="~/static/images/wheat_1@2x.png").equipments__wheat-pic.equipments__wheat-pic--1
      img(src="~/static/images/wheat_2.png" srcset="~/static/images/wheat_2@2x.png").equipments__wheat-pic.equipments__wheat-pic--2
      img(src="~/static/images/wheat_3.png" srcset="~/static/images/wheat_3@2x.png").equipments__wheat-pic.equipments__wheat-pic--3
      img(src="~/static/images/wheat_big.png" srcset="~/static/images/wheat_big@2x.png").equipments__wheat-pic.equipments__wheat-pic--big
    app-catalog-equipments
</template>

<script>
import Tabs from 'vue-tabs-with-active-line'
import { mapGetters, mapActions } from 'vuex'
import { TweenMax, TimelineMax } from 'gsap'
import AppTabs from '~/components/AppUi/AppTabs'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPopup from '~/components/AppUi/AppPopup'
import AppPreloader from '~/components/AppUi/AppPreloader'
import AppCatalogEquipments from '~/components/AppUi/AppCatalogEquipments'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'Equipments',
  components: {
    AppPopup,
    AppBtn,
    AppTabs,
    ModalWindow,
    Tabs,
    AppCatalogEquipments
  },
  data: () => ({
    isModalVisible: false,
    isShowedParams: false,
    equipmentMenuShowed: false,
    tabName: ''
  }),
  computed: {
    ...mapGetters({
      currentTab: 'ui/getCurrentTab',
      equipmentsContent: 'equipments/G_EQUIPMENT',
      G_CONTENT_PAGE: 'admin/equipments/G_CONTENT_PAGE'
    })
  },
  created() {
    this.getEquipmentList()
  },
  mounted() {
    this.animationEquipment()
  },
  methods: {
    ...mapActions({
      setCurrentTab: 'ui/setCurrentTab'
    }),
    ...mapActions({
      getEquipmentList: 'equipments/A_GET_EQUIPMENT_DATA'
    }),
    openEquipment(name) {
      this.$router.push(`/equipment/${name}`)
    },
    handleClick(newTab) {
      this.setCurrentTab(newTab)
      this.animationSwitch()
      if (window.innerWidth <= 768) {
        this.getCurrentTabName(newTab)
        this.showEquipment()
      }
    },
    getCurrentTabName(thisTab) {
      this.equipmentsTabs.forEach((item) => {
        if (item.value === thisTab) {
          this.tabName = item.title
        }
      })
    },
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showParametrs() {
      this.isShowedParams = !this.isShowedParams
    },
    showEquipment() {
      this.equipmentsMenuShowed = !this.equipmentsMenuShowed
    },
    animationEquipment() {
      const timelineMachine = new TimelineMax()
      const timelineWheat = new TimelineMax()

      timelineWheat.add([
        TweenMax.to('.equipments__wheat-pic--1', 0.5, {
          x: '-10px',
          y: '-5px'
        }),
        TweenMax.to('.equipments__wheat-pic--2', 1, {
          x: '0',
          y: '-15px'
        }),
        TweenMax.to('.equipments__wheat-pic--3', 0.5, {
          x: '10px',
          y: '-15px'
        }),
        TweenMax.to('.equipments__wheat-pic--big', 1, {
          x: '15px',
          y: '-15px'
        })
      ])

      const wheatScene = this.$scrollmagic
        .scene({
          offset: '-80px',
          triggerElement: '.equipments',
          triggerHook: 0,
          duration: '100%'
        })
        .setTween(timelineWheat)

      timelineMachine.fromTo(
        '.tab-content__picture img',
        1,
        { scale: 0 },
        { scale: 1 }
      )

      this.$scrollmagic.addScene([wheatScene])
    },
    animationSwitch() {
      const timelineMachine = new TimelineMax()
      const timelineContent = new TimelineMax()

      timelineMachine.fromTo(
        '.tab-content__picture img',
        0.4,
        { scale: 0 },
        { scale: 1 }
      )

      timelineContent.fromTo(
        '.tab-content__description',
        0.6,
        { opacity: 0 },
        { opacity: 1 }
      )
    }
  }
}
</script>

<style lang="scss">
.equipments {
  position: relative;

  .equipments-nav {
    padding-top: 0;
  }

  &__wheat {
    position: absolute;
    top: 10%;
    right: 0;
    height: calc(320px / 1.5);
    width: calc(200px / 1.5);

    &-pic {
      position: absolute;
      right: 0;
      top: 0;

      &--1 {
        right: calc(74px / 1.5);
        top: calc(3px / 1.5);
        width: calc(21px / 1.5);
        height: calc(24px / 1.5);

        @include media($width-container, 0) {
          right: (74px / 1.5) / $width-container * 100vw;
          top: (3px / 1.5) / $width-container * 100vw;
          width: (21px / 1.5) / $width-container * 100vw;
          height: (24px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (74px / 1.3) / $width_xs * 100vw;
          top: (3px / 1.3) / $width_xs * 100vw;
          width: (21px / 1.3) / $width_xs * 100vw;
          height: (24px / 1.3) / $width_xs * 100vw;
        }
      }

      &--2 {
        right: calc(43px / 1.5);
        top: calc(-29px / 1.5);
        width: calc(14px / 1.5);
        height: calc(22px / 1.5);

        @include media($width-container, 0) {
          right: (43px / 1.5) / $width-container * 100vw;
          top: (-29px / 1.5) / $width-container * 100vw;
          width: (14px / 1.5) / $width-container * 100vw;
          height: (22px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (43px / 1.3) / $width_xs * 100vw;
          top: (-29px / 1.3) / $width_xs * 100vw;
          width: (14px / 1.3) / $width_xs * 100vw;
          height: (22px / 1.3) / $width_xs * 100vw;
        }
      }

      &--3 {
        top: calc(8px / 1.5);
        right: calc(18px / 1.5);
        width: calc(24px / 1.5);
        height: calc(29px / 1.5);

        @include media($width-container, 0) {
          top: (8px / 1.3) / $width-container * 100vw;
          right: (18px / 1.3) / $width-container * 100vw;
          width: (24px / 1.3) / $width-container * 100vw;
          height: (29px / 1.3) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          top: (8px / 1.3) / $width_xs * 100vw;
          right: (18px / 1.3) / $width_xs * 100vw;
          width: (24px / 1.3) / $width_xs * 100vw;
          height: (29px / 1.3) / $width_xs * 100vw;
        }
      }
      &--big {
        right: calc(-240px / 1.5);
        height: calc(288px / 1.5);
        width: calc(444px / 1.5);

        @include media($width-container, 0) {
          right: (-240px / 1.5) / $width-container * 100vw;
          height: (288px / 1.5) / $width-container * 100vw;
          width: (444px / 1.5) / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          right: (-240px / 1.3) / $width_xs * 100vw;
          height: (288px / 1.3) / $width_xs * 100vw;
          width: (444px / 1.3) / $width_xs * 100vw;
        }
      }
    }

    @include media($width-container, 0) {
      height: (320px / 1.5) / $width-container * 100vw;
      width: (200px / 1.5) / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      top: auto;
      bottom: 0;
      height: (320px / 1.3) / $width_xs * 100vw;
      width: (200px / 1.3) / $width_xs * 100vw;
    }

    @include media($width_xs_s, 0) {
      display: none;
    }
  }

  &__show-params {
    margin-bottom: 22px;
  }

  &__housing {
    margin-bottom: 22px;

    &--selected {
      .vs__dropdown-toggle {
        &::before {
          left: 0;
          width: 100%;
          background-color: $color-accent;
          transition: left 0.4s, width 0.4s, background-color 0.1s;
        }
      }
    }
  }

  &-price {
    margin-bottom: 40px;

    svg {
      margin-left: 3px;
      width: 12px;
      height: 12px;
    }
  }

  @include media($width_xs, 0) {
    padding-bottom: 60px;
  }

  @include media($width_xs_s, 0) {
    padding-bottom: 60px;
  }
}

// .equipments-list {
//   position: relative;
//   z-index: 1;
//   display: flex;
//   justify-content: space-between;
//   align-items: stretch;
//   flex-flow: row wrap;
//   list-style: none;
//   padding-left: 0;
//   margin-bottom: 22px;

//   @include media($width_xs, 0) {
//     flex-flow: column nowrap;
//     justify-content: flex-start;
//   }
// }

// .equipments-item {
//   width: 100%;
//   display: flex;
//   padding-top: 15px;
//   border: 2px solid $color-border;
//   height: 400px;
//   flex-flow: column nowrap;
//   align-items: center;
//   text-align: center;
//   cursor: pointer;
//   margin-bottom: 40px;
//   transition: box-shadow 0.5s;
//   position: relative;
//   z-index: 1;
//   background-color: $color-white;

//   // &:not(:nth-of-type(3n)) {
//   //   margin-right: 64px;

//   //   @include media($width-container, 0) {
//   //     margin-right: 62px / $width-container * 100vw;
//   //   }

//   //   @include media($width_md, 0) {
//   //     margin-right: 0;
//   //   }
//   // }

//   &__name {
//     margin-bottom: 5px;
//     font-weight: 700;
//   }

//   &__performance {
//     padding-left: 10px;
//     margin-bottom: 20px;
//     list-style: none;

//     strong {
//       color: $color-accent;
//     }
//   }

//   &__pic {
//     position: relative;
//     margin-top: auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 250px;
//     height: 250px;

//     &:after {
//       content: '';
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       width: 200px;
//       height: 200px;
//       border-width: 50px;
//       border-radius: 50%;
//       border-color: $color-circles;
//       border-style: solid;
//       transform: translate(-50%, -50%);
//       transition: border-width 0.4s;

//       @include media($width-container, 0) {
//         width: 200px / $width-container * 100vw;
//         height: 200px / $width-container * 100vw;
//         border-width: 50px / $width-container * 100vw;
//       }

//       @include media($width_xs, 0) {
//         width: 200px;
//         height: 200px;
//         border-width: 50px;
//       }
//     }

//     img {
//       position: relative;
//       z-index: 1;
//       max-width: 100%;
//       max-height: 100%;
//       width: auto;
//       height: auto;
//       transition: transform 0.4s;
//     }

//     @include media($width_xs_s, 0) {
//       width: 250px;
//       height: 250px;
//     }
//   }

//   @include media($width_md, 1) {
//     &:hover,
//     &:focus {
//       // box-shadow: none;
//       // transition: box-shadow 0.5s;

//       .equipments-item__pic {
//         &:after {
//           border-width: 100px;
//           transition: border-width 0.4s;
//         }

//         img {
//           transform: scale(1.1);
//           transition: transform 0.4s;
//         }
//       }
//     }
//   }

//   @include media($width_xs, 0) {
//     width: 100%;
//   }
// }
</style>
