<template lang="pug">
  section.instructions
    .container
      h1.section-title(data-aos="fade")
        | Руководства по эксплуатации нашего оборудования
      .instructions__wrapper
        h4.instructions-subtitle
          | Растворные узлы
        .instruction-item(
          v-for="item in instructions"
          v-if="item.type === 'rukas'"
        )
          .instruction-item__icon
            svg-icon(name="icon-instcructions")
          .instruction-item__box
            .instruction-item__name
              | {{ item.name }}
            a.instruction-item__link(href="#" @click.prevent="openInstruction(item.pageName)")
              | Открыть инструкцию
        //- h4.instructions-subtitle
        //-   | Средства защиты растений
        //- .instruction-item(
        //-   v-for="item in instructions"
        //-   v-if="item.type === 'szr'"
        //- )
        //-   .instruction-item__icon
        //-     svg-icon(name="icon-instcructions")
        //-   .instruction-item__box
        //-     .instruction-item__name
        //-       | {{ item.name }}
        //-     a.instruction-item__link(href="#" @click.prevent="openInstruction(item.pageName)")
        //-       | Открыть инструкцию
</template>

<script>
import instructionsData from '~/static/data/instructions.json'

export default {
  name: 'Instructions',
  data: () => ({
    instructions: instructionsData
  }),
  methods: {
    openInstruction(name) {
      this.$router.push(`/instruction/${name}`)
    }
  }
}
</script>

<style lang="scss">
.instructions {
  position: relative;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.instructions-subtitle {
  width: 100%;
  margin-bottom: 32px;
}

.instruction-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 33%;
  margin-bottom: 48px;

  &__icon {
    width: 90px;
    height: 90px;
  }

  &__box {
    padding-left: 20px;
    width: calc(100% - 90px);
  }

  &__name {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
</style>
