<template lang="pug">
  section.create-page
    h1 Добавить оборудование
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="pageEditObserver"
      @submit.prevent="onSubmit()"
    ).admin-page__form
      .admin-page__row
        app-field(
          v-model="controls.value"
          type="text"
          placeholder="Имя-идентификатор на английском"
          :validation="{required: true}"
        ).admin-page__field.admin-page__field--name
        app-field(
          v-model="controls.equipmentType"
          type="text"
          placeholder="Тип оборудования на английском"
          :validation="{required: true}"
        ).admin-page__field.admin-page__field--name
        app-field(
          v-model="controls.title"
          type="text"
          placeholder="Название"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.title"
        ).admin-page__preview
      .admin-page__file
        client-only
          image-uploader(
            :debug="0"
            :maxWidth="1280"
            :quality="0.8"
            :autoRotate="true"
            outputFormat="file"
            :preview="true"
            :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
            :capture="false"
            accept="video/*,image/*"
            doNotResize="['gif', 'svg']"
            @input="setImage"
          )
      .admin-page__row
        app-field(
          v-model="controls.price"
          type="text"
          placeholder="Цена"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.price"
        ).admin-page__preview
        app-field(
          v-model="controls.performance"
          type="text"
          placeholder="Краткое описание"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.performance"
        ).admin-page__preview
        app-field(
          v-model="controls.content"
          type="text"
          placeholder="Описание оборудования"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.content"
        ).admin-page__preview
        app-field(
          v-model="controls.parametrs"
          type="text"
          placeholder="Характеристики оборудования"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.parametrs"
        ).admin-page__preview
        app-field(
          v-model="controls.footer"
          type="text"
          placeholder="Описание после характеристик"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.footer"
        ).admin-page__preview
      app-btn(type="submit").btn-submit Создать
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
import AppBreadcrumbs from '~/components/AppUi/AppBreadcrumbs'
export default {
  name: 'Create',
  components: { AppBreadcrumbs, AppField, AppBtn },
  layout: 'admin',
  middleware: ['admin-auth'],
  data: () => ({
    controls: {
      title: '',
      value: '',
      price: '',
      performance: '',
      content: '',
      parametrs: '',
      footer: '',
      equipmentType: ''
    },
    hasImage: false,
    fileImage: null,
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  head() {
    return {
      title: `Добавить оборудование`
    }
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    }),
    async onSubmit() {
      const pageEditValid = await this.$refs.pageEditObserver.validate()
      // && this.fileImage
      if (pageEditValid) {
        this.preloader({ load: true })
        try {
          const formData = {
            title: this.controls.title,
            value: this.controls.value,
            equipmentType: this.controls.equipmentType,
            price: this.controls.price,
            performance: this.controls.performance,
            content: this.controls.content,
            parametrs: this.controls.parametrs,
            footer: this.controls.footer,
            image: this.fileImage
          }

          await this.$store.dispatch(
            'admin/equipments/A_CREATE_PAGE_CONTENT',
            formData
          )
          this.preloader({ load: false })
          this.$toast.success(
            'Контент успешно добавлен',
            'OK',
            this.notificationSystem.options.success
          )
        } catch (e) {
          this.preloader({ load: true })
          console.log(e)
        }
      } else {
        this.$toast.error(
          'Форма не валидна',
          'Ошибка',
          this.notificationSystem.options.success
        )
      }
    },
    setImage(output) {
      this.fileImage = output
      this.hasImage = true
    }
  }
}
</script>

<style lang="scss" scoped></style>
