<template lang="pug">
  section.create-page
    h1.admin-page__title
      | Добавить новость
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="addNewForm"
      @submit.prevent="onSubmit()"
    ).admin-page__form
      .admin-page__row
        app-field(
          v-model="controls.title"
          type="text"
          placeholder="Заголовок"
        ).admin-page__field
      .admin-page__row
        app-field(
          v-model="controls.preview"
          type="text"
          placeholder="Краткое описание"
        ).admin-page__field
      .admin-page__file
        p
          | Изображение превью новости
        client-only
          image-uploader(
            :debug="0"
            :maxWidth="1280"
            :quality="0.8"
            :autoRotate="true"
            outputFormat="file"
            :preview="true"
            :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
            :capture="false"
            accept="video/*,image/*"
            doNotResize="['gif', 'svg']"
            @input="setImage"
          )
        a(
          href="https://github.com/sandino/Markdown-Cheatsheet"
          targer="_blank"
        )
          | Шпаргалка по markdown
      .admin-page__row
        app-field(
          v-model="controls.content"
          type="textarea"
          placeholder="Контент новости в формате *md *html"
        ).admin-page__field.admin-page__field--textarea
        vue-markdown(
          :source="controls.content"
        ).admin-page__preview
      .admin-page__row
        app-field(
          v-model="controls.date"
          type="text"
          placeholder="Дата размещения"
        ).admin-page__field
      .admin-page__row
        app-field(
          v-model="controls.videoUrl"
          type="text"
          placeholder="сслыка на видео"
        ).admin-page__field

      app-btn(type="submit").btn-submit Создать новость
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
import AppBreadcrumbs from '~/components/AppUi/AppBreadcrumbs'
export default {
  name: 'CreateNew',
  components: { AppBreadcrumbs, AppField, AppBtn },
  layout: 'admin',
  middleware: ['admin-auth'],
  data: () => ({
    controls: {
      title: '',
      content: '',
      date: '',
      preview: '',
      videoUrl: ''
    },
    hasImage: false,
    fileImage: null,
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  head() {
    return {
      title: `Создать страницу`
    }
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    }),
    async onSubmit() {
      const pageEditValid = await this.$refs.addNewForm.validate()
      // && this.fileImage
      if (pageEditValid) {
        // this.preloader({ load: true })
        try {
          const formData = {
            title: this.controls.title,
            content: this.controls.content,
            preview: this.controls.preview,
            date: this.controls.date,
            videoUrl: this.controls.videoUrl,
            image: this.fileImage
          }

          await this.$store.dispatch('admin/post/createPost', formData)
          // this.preloader({ load: false })
          this.$toast.success(
            'Пост успешно добавлен',
            'OK',
            this.notificationSystem.options.success
          )
        } catch (e) {
          // this.preloader({ load: true })
          console.error(e)
        }
      } else {
        this.$toast.error(
          'Форма не валидна',
          'Ошибка',
          this.notificationSystem.options.success
        )
      }
    },
    setImage(output) {
      this.fileImage = output
      this.hasImage = true
    }
  }
}
</script>

<style lang="scss">
.admin-page {
  &__field {
    &--textarea {
      textarea {
        height: 380px;
      }
      .form-field__error {
        top: 102%;
      }
    }
  }
}
</style>
