<template lang="pug">
  section
    h1 Создать пользователя
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="loginObserver"
      @submit.prevent="onLogin()"
    ).login__form
      app-field(
        v-model="loginName"
        type="text"
        placeholder="Логин"
        :validation="{required: true}"
        :value="loginName"
      )
      app-field(
        v-model="loginPassword"
        type="password"
        placeholder="Пароль"
        :validation="{required: true, min: 6}"
        :value="loginPassword"
      )
      app-btn(type="submit").login__submit Создать
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'Users',
  components: { AppBtn, AppField },
  layout: 'admin',
  middleware: ['admin-auth'],
  data: () => ({
    loginName: '',
    loginPassword: '',
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END',
      createUser: 'auth/A_CREATE_USER'
    }),
    async onLogin() {
      const loginValid = await this.$refs.loginObserver.validate()
      if (loginValid) {
        this.preloader({ load: true })

        try {
          const formData = {
            login: this.loginName,
            password: this.loginPassword
          }

          await this.createUser(formData)

          this.$toast.success(
            `Пользователь ${formData.login} успешно создан!`,
            'OK',
            this.notificationSystem.options.success
          )

          this.loginName = ''
          this.loginPassword = ''
          this.preloader({ load: false })
        } catch (e) {
          this.preloader({ load: false })
          console.log(e)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login__submit {
  margin-top: 40px;
}
</style>
