<template lang="pug">
  section.admin-page
    app-breadcrumbs(:breadcrumbsList="pagesBreadcrumbs")
    h1 Страница {{ this.page.title }}
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="pageEditObserver"
      @submit.prevent="onSubmit()"
    ).admin-page__form
      .admin-page__row
        app-field(
          v-model="controls.value"
          :fieldData="controls.value"
          type="textarea"
          placeholder="Имя-идентификатор на английском"
          :validation="{required: true}"
        ).admin-page__field.admin-page__field--name
        app-field(
          v-model="controls.title"
          :fieldData="controls.title"
          type="text"
          placeholder="Название"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.title"
        ).admin-page__preview
      .admin-page__file
        client-only
          image-uploader(
            :debug="0"
            :maxWidth="1920"
            :quality="0.8"
            :autoRotate="true"
            outputFormat="file"
            :preview="true"
            :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
            :capture="false"
            accept="video/*,image/*"
            doNotResize="['gif', 'svg']"
            @input="setImage"
          )
      .admin-page__row
        app-field(
          v-model="controls.price"
          :fieldData="controls.price"
          type="text"
          placeholder="Цена"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.price"
        ).admin-page__preview
        app-field(
          v-model="controls.performance"
          :fieldData="controls.performance"
          type="text"
          placeholder="Краткое описание"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.performance"
        ).admin-page__preview
        app-field(
          v-model="controls.content"
          :fieldData="controls.content"
          type="text"
          placeholder="Описание оборудования"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.content"
        ).admin-page__preview
        app-field(
          v-model="controls.parametrs"
          :fieldData="controls.parametrs"
          type="text"
          placeholder="Характеристики оборудования"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.parametrs"
        ).admin-page__preview
        app-field(
          v-model="controls.footer"
          :fieldData="controls.footer"
          type="text"
          placeholder="Описание после характеристик"
          :validation="{required: true}"
        ).admin-page__field
        vue-markdown(
          :source="controls.footer"
        ).admin-page__preview
      app-btn(type="submit").btn-submit Изменить
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
import AppBreadcrumbs from '~/components/AppUi/AppBreadcrumbs'
export default {
  name: 'AdminPage',
  components: { AppBreadcrumbs, AppField, AppBtn },
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store, params }) {
    let page = ''
    await store
      .dispatch('admin/equipments/A_GET_PAGE_BY_ID', params.name)
      .then(({ data }) => {
        page = data
      })
    return { page }
  },
  data: () => ({
    controls: {
      title: '',
      value: '',
      price: '',
      performance: '',
      content: '',
      parametrs: '',
      footer: ''
    },
    hasImage: false,
    fileImage: null,
    pagesBreadcrumbs: [
      {
        link: '/admin/equipments-admin',
        name: 'Список страниц'
      }
    ],
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  head() {
    return {
      title: `Страница | ${this.page.title}`
    }
  },
  created() {
    this.pagesBreadcrumbs.push({
      name: this.page.title
    })
  },
  mounted() {
    this.controls.title = this.page.title
    this.controls.value = this.page.value
    this.controls.price = this.page.price
    this.controls.pageName = this.page.pageName
    this.controls.performance = this.page.performance
    this.controls.content = this.page.content
    this.controls.parametrs = this.page.parametrs
    this.controls.footer = this.page.footer
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    }),
    async onSubmit() {
      const pageEditValid = await this.$refs.pageEditObserver.validate()
      // && this.fileImage
      if (pageEditValid) {
        this.preloader({ load: true })
        try {
          const formData = {
            title: this.controls.title,
            value: this.controls.value,
            price: this.controls.price,
            performance: this.controls.performance,
            content: this.controls.content,
            parametrs: this.controls.parametrs,
            footer: this.controls.footer,
            pageName: this.page._name
          }

          // const formDataImage = {
          //   image: this.fileImage,
          //   pageName: this.page._name
          // }

          await this.$store.dispatch('admin/equipments/A_UPDATE_PAGE', formData)
          // await this.$store.dispatch(
          //   'admin/equipments/A_UPDATE_PAGE_IMAGE',
          //   formDataImage
          // )

          this.preloader({ load: false })
          this.$toast.success(
            'Контент успешно изменен',
            'OK',
            this.notificationSystem.options.success
          )
        } catch (e) {
          this.preloader({ load: true })
          console.log(e)
        }
      } else {
        this.$toast.error(
          'Форма не валидна',
          'Ошибка',
          this.notificationSystem.options.success
        )
      }
    },
    setImage(output) {
      this.fileImage = output
      this.hasImage = true
    }
  }
}
</script>

<style lang="scss"></style>
