.admin-page {
  &__title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .form-field {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  &__field {
    width: 90%;

    &--name {
      width: 100%;
    }
  }

  &__file {
    padding: 30px 0;
  }

  &__preview {
    border: 1px solid $color-border;
    width: 100%;

    > * {
      max-width: 100%;
    }
  }

  .form-field {
    max-width: 100%;
  }

  .btn-submit {
    margin-top: 40px;
  }
}
