// COLORS
$color-primary: #292929;
$color-accent: #1abb4f;
$color-border: #e3e3e3;
$color-card: #fafafa;
$color-circles: #ffd649;
$color-error: #ff2a45;
$color-footer: #1d1d1d;
$color-footer-1: #191919;
$color-white: #fff;
$color-black: #000;

// FONTS
$font-default: "Euclid Square", "Arial", "Helvetica", sans-serif;
$fz-large: 18px;
$fz-base: 16px;
$fz-small: 14px;
$fz-h1: 42px;
$fz-h2: 42px;
$fz-h3: 32px;
$fz-h4: 24px;
$fz-h5: 20px;
$fz-h6: 18px;
$fz-section-title: 28px;

// GRID
$width-container: 1280px;
$gap: 10px;
$width_xs_s: 550px;
$width_xs: 768px;
$width_xs_1: 720px;
$width_md: 1024px;
$width_lg: 1169px;
$width_lgx: 1366px;

// BORDER

$brs: 2px;
$bdr-width: 4px;

// burger

$animation: 0.6s;	// animation speed
$scale: 1;
