<template lang="pug">
  .container.table-wrap
    table.equipment-table
      tr.equipment-table__head
        th.equipment-table__cell
        th.equipment-table__cell(colspan="6")
          | ОБОРУДОВАНИЕ ДЛЯ ПРОИЗВОДСТВА КАС 28,30,32 и ЖСУ (жидких сложных удобрений)
        th.equipment-table__cell(colspan="3")
          | ОБОРУДОВАНИЕ ДЛЯ ДОЗАЦИИ СЗР
      tr.equipment-table__row
        td.equipment-table__cell
          | модель
        td(@click="setTabEquipment('RUKAS_ECONOM')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС ЭКОНОМ РУЧНОЙ
        td(@click="setTabEquipment('RUKAS_MINI')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС МИНИ РУЧНОЙ
        td(@click="setTabEquipment('RUKAS_MINI_A')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС МИНИ АВТОМАТ
        td(@click="setTabEquipment('RUKAS_150')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС 150 АВТОМАТ
        td(@click="setTabEquipment('RUKAS_300')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС 300 АВТОМАТ
        td(@click="setTabEquipment('RUKAS_300')").equipment-table__cell.equipment-table__cell--bg-green
          | РУКАС 400 АВТОМАТ
        td(@click="setTabEquipment('MS60')").equipment-table__cell.equipment-table__cell--bg-yellow
          | МС-60 СЗР
        td(@click="setTabEquipment('RUA_SZR')").equipment-table__cell.equipment-table__cell--bg-yellow
          | РУА СЗР
        td(@click="setTabEquipment('AMD_SZR')").equipment-table__cell.equipment-table__cell--bg-yellow
          | АМД СЗР мобильный
      tr.equipment-table__row
        td.equipment-table__cell
          | каркас
        td.equipment-table__cell
          | окрашеннная сталь
        td.equipment-table__cell
          | окрашенная сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
        td.equipment-table__cell
          | нержавеющая сталь
      tr.equipment-table__row
        td.equipment-table__cell
          | производительность
        td.equipment-table__cell
          | 50 т/сутки
        td.equipment-table__cell
          | 100 т/сутки
        td.equipment-table__cell
          | 100 т/сутки
        td.equipment-table__cell
          | от 150 до 200 т/сутки
        td.equipment-table__cell
          | 250 т/сутки
        td.equipment-table__cell
          | 380 т/сутки
        td.equipment-table__cell
          | от 30 до 60 т/ч, РР
        td.equipment-table__cell
          | от 30 до 60 т/ч, РР
        td.equipment-table__cell
          | 40 т/час, РР
      tr.equipment-table__row
        td.equipment-table__cell
          | стоимость, руб.
        td.equipment-table__cell
          | 750 000
        td.equipment-table__cell
          | 1 617 000
        td.equipment-table__cell
          | 2 650 000
        td.equipment-table__cell
          | от 4 424 000 до 6 720 000
        td.equipment-table__cell
          | от 7 560 000 до 10 080 000
        td.equipment-table__cell
          | от 12 000 000
        td.equipment-table__cell
          | от 750 000 до 1700 000
        td.equipment-table__cell
          | от 1 000 000 до 7 000 000
        td.equipment-table__cell
          | от 2 500 000
      tr.equipment-table__row
        td.equipment-table__cell
          | возможность растворения сложных удобрений(азофоска , диаммофоска, фосфоритная мука и другие)
        td.equipment-table__cell
          | -
        td.equipment-table__cell
          | +
        td.equipment-table__cell
          | +
        td.equipment-table__cell
          | +
        td.equipment-table__cell
          | +
        td.equipment-table__cell
          | +
        td.equipment-table__cell
          | -
        td.equipment-table__cell
          | -
        td.equipment-table__cell
          | -
      tr.equipment-table__row
        td.equipment-table__cell
          | ПОДАРОК - микроэлементное удобрение (26 элементов)
        td.equipment-table__cell
          | 200 000 руб.
        td.equipment-table__cell
          | 400 000 руб.
        td.equipment-table__cell
          | 700 000 руб.
        td.equipment-table__cell
          | 1 000 000 руб.
        td.equipment-table__cell
          | 1 500 000 руб.
        td.equipment-table__cell
          | 2 000 000 руб.
        td.equipment-table__cell
          | 200 000 руб.
        td.equipment-table__cell
          | до 1 000 000 руб.
        td.equipment-table__cell
          | 700 000 руб.
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'EquipmentTable',
  methods: {
    ...mapActions({
      setCurrentTab: 'ui/setCurrentTab'
    }),
    setTabEquipment(equipmentName) {
      this.$router.push(`/equipment/${equipmentName}`)
    }
  }
}
</script>

<style scoped lang="scss">
.equipment-table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;

  &__row {
    .equipment-table__cell {
      &--bg-green {
        cursor: pointer;
        background-color: rgba($color-accent, 0.7);

        @include media($width_md, 1) {
          &:hover,
          &:focus {
            background-color: rgba($color-accent, 1);
            transition: background-color 0.3s;
          }
        }
      }
      &--bg-yellow {
        cursor: pointer;
        background-color: rgba($color-circles, 0.7);

        @include media($width_md, 1) {
          &:hover,
          &:focus {
            background-color: rgba($color-circles, 1);
            transition: background-color 0.3s;
          }
        }
      }
    }
  }

  &__head {
    .equipment-table__cell {
      &:nth-of-type(2) {
        background-color: $color-accent;
      }
      &:nth-of-type(3) {
        background-color: $color-circles;
      }
    }
  }

  &__cell {
    padding: 5px;
    border: 1px solid #000;
    empty-cells: show;
    width: 100%;
    height: 100%;

    &:not(:first-of-type) {
      text-align: center;
    }

    &:first-of-type {
      background-color: $color-border;
    }
  }

  /*&__link {
    padding: 5px;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    text-decoration: none;
    color: $color-black;
    cursor: pointer;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }*/

  @include media($width_xs_s, 0) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.table-wrap {
  @include media($width_md, 0) {
    overflow: auto;
  }
}
</style>
