<template lang="pug">
  footer.main-footer
    .main-footer__corn(v-if="$route.fullPath !== '/contacts'")
      img(src="~/static/images/corn_left.png" srcset="~/static/images/corn_left@2x.png")
    .main-footer__contacts(v-if="$route.fullPath !== '/contacts'")
      .container
        .main-footer__contacts-left
          h2.section-title
            | Контакты
          h5.main-footer__phone
            | {{ callbackPhone }}
          h5.main-footer__phone
            | 8 (800) 707-96-81 - сервисная служба
          .main-footer__links
            a(href="mailto:info@nagro.group")
              | info@nagro.group
            nuxt-link(to="/contacts" v-if="$route.name !== 'landing'")
              | Все контакты
          .main-footer__adress
            | г. Москва, Рязановское шоссе, 16 литера Б
        .main-footer__contacts-right
          app-social-list
    .main-footer__copyright
      .container
        p
          | &copy; 2019 год. ООО "ПК ТЕХМАШ". Все права защищены
</template>

<script>
import { TweenMax, TimelineMax } from 'gsap'
import AppSocialList from '~/components/AppUi/AppSocialList'
export default {
  name: 'MainFooter',
  components: { AppSocialList },
  data: () => ({
    callbackPhone: '8 (800) 707 98 31'
  }),
  mounted() {
    const timelineFooter = new TimelineMax()

    timelineFooter.add([
      TweenMax.fromTo(
        '.main-footer__corn',
        1,
        {
          opacity: 0,
          x: '-200px'
        },
        {
          opacity: 1,
          x: '0'
        }
      )
    ])

    const footerScene = this.$scrollmagic
      .scene({
        offset: -150,
        triggerElement: '.main-footer',
        triggerHook: 0.8,
        duration: '45%'
      })
      .setTween(timelineFooter)
    // .addIndicators()

    this.$scrollmagic.addScene([footerScene])
  }
}
</script>

<style lang="scss">
.main-footer {
  position: relative;
  background-color: $color-footer;
  color: $color-white;

  .section-title {
    color: $color-white;
    margin-bottom: 40px;
  }

  .social-list {
    justify-content: flex-end;
  }

  &__corn {
    position: absolute;
    z-index: 1;
    left: -56px;
    top: -95px;
    width: 148px;
    height: 205px;

    img {
      max-height: 100%;
      width: auto;
    }

    @include media($width_xs_s, 0) {
      left: calc(-56px / 1.5);
      top: calc(-95px / 1.5);
      width: calc(148px / 1.5);
      height: calc(205px / 1.5);
    }
  }

  &__contacts {
    padding: 55px 0;

    .container {
      display: grid;
      align-items: end;
      grid-template-columns: 70% 30%;

      @include media($width_xs_s, 0) {
        display: flex;
        flex-flow: column nowrap;
        grid-template-columns: none;
      }
    }
  }

  &__phone {
    color: $color-white;
    margin-bottom: 18px;
  }

  &__links {
    margin-bottom: 18px;

    a {
      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }

  &__adress {
    @include media($width_xs_s, 0) {
      margin-bottom: 22px;
    }
  }

  &__copyright {
    padding: 21px 0;
    background-color: $color-footer-1;

    p {
      margin: 0;
      font-size: $fz-small;
    }
  }
}
</style>
