<template lang="pug">
  header.main-header
    .main-header__wrapper.container
      nuxt-link.main-header__logo(to="/")
        svg-icon(name="logo")
      AppHeaderNav(
        @clicked="hideNavMob()"
        :class="isNavShowed ? 'isShow' : 'isHide'"
      )
      .main-header__contacts
        a(:href="`tel:${callbackPhone}`").main-header__phone
          svg-icon(name="icon-phone")
          | {{ callbackPhone }}
        nuxt-link.main-header-profile(
          v-if="isAuth"
          to="/profile/"
        )
          .main-header-sign__icon
            svg-icon(name="user")
          | Профиль
        button.main-header-sign(
          v-else
          @click="$modal.show('sign-in')"
        )
          .main-header-sign__icon
            svg-icon(name="user")
          | Войти
      .hamburger(
        :class="isNavShowed ? 'forward' : 'backward'"
        @click="isNavShowed = !isNavShowed"
      )
        .line
        .line
        .line
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppHeaderNav from '~/components/AppUi/AppHeaderNav'
export default {
  name: 'MainHeader',
  components: {
    AppHeaderNav
  },
  data: () => ({
    isNavShowed: false,
    activeClass: false,
    callbackPhone: '8 (800) 707 98 31'
  }),
  computed: {
    ...mapGetters({
      isAuth: 'auth/G_AUTHENTICATED'
    })
  },
  methods: {
    ...mapActions({
      modalShow: 'A_MODAL_NAME'
    }),
    showModal(name) {
      this.modalShow({ name })
    },
    hideNavMob() {
      if (this.isNavShowed) {
        this.isNavShowed = false
      }
    }
  }
}
</script>

<style lang="scss">
.main-header {
  position: relative;
  padding: 10px 0;

  &__ui-kit {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: orangered;
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @include media($width-container, 0) {
      padding: 10px 15px;
    }

    @include media($width_xs_s, 0) {
      padding: 10px;
    }

    @include media(360px, 0) {
      padding-left: 0;
    }
  }

  &__logo {
    width: 140px;
    height: 40px;
    display: block;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media($width-container, 0) {
      width: 140px / $width-container * 100vw;
      height: 40px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      width: 140px;
      height: 40px;
    }

    @include media(360px, 0) {
      width: 130px;
      height: 30px;
      align-self: flex-start;
      margin-right: auto;
    }
  }

  &__contacts {
    @include media($width_md, 0) {
      margin-left: auto;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 18px;
    margin-left: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-primary;

    svg {
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }

    @include media($width-container, 0) {
      margin-left: 35px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      margin-left: 0;
      font-size: $fz-large;
    }

    @include media($width_xs_s, 0) {
      font-size: 16px;
    }

    @include media(370px, 0) {
      font-size: 13px;
    }
  }

  $menu-width: 22px;
  $menu-height: $menu-width;
  $line-height: #{$menu-width * 0.16};
  $line-color: $color-primary;
  $line-color-hover: $color-accent;
  $line-border-radius: 3px;
  $line-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

  .hamburger {
    position: relative;
    width: $menu-width;
    height: $menu-height;
    margin-left: 25px;
    cursor: pointer;
    z-index: 101;

    .line {
      position: absolute;
      display: block;
      width: 100%;
      height: $line-height;
      background-color: $line-color;
      border-radius: $line-border-radius;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      transform-origin: 50% 50%;
      animation-fill-mode: both;
      animation-duration: 0.7s;

      &:nth-child(2) {
        top: calc(50% - #{$line-height} / 2);
        left: auto;
        right: 0;
        /*width: 90%;*/
      }

      &:nth-child(3) {
        top: calc(100% - #{$line-height});
      }
    }

    &.forward {
      .line {
        box-shadow: $line-shadow;
        animation-name: forward-one;

        &:nth-child(2) {
          animation-name: forward-two;
        }

        &:nth-child(3) {
          animation-name: forward-three;
        }
      }
    }

    &.backward {
      .line {
        animation-name: backward-one;
        animation-direction: reverse;

        &:nth-child(2) {
          animation-name: backward-two;
        }

        &:nth-child(3) {
          animation-name: backward-three;
        }
      }
    }

    @include media($width_md, 1) {
      display: none;
    }

    @include media($width_xs_s, 0) {
      margin-left: 20px;
      margin-right: 10px;
    }
  }

  @keyframes forward-one {
    0% {
      top: 0;
      transform: rotate(0deg);
    }

    33% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(0deg);
    }

    100% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(45deg);
    }
  }

  @keyframes forward-two {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes forward-three {
    0% {
      top: calc(100% - #{$line-height});
      transform: rotate(0deg);
    }

    33% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(0deg);
    }

    100% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(135deg);
    }
  }

  @keyframes backward-one {
    0% {
      top: 0;
      transform: rotate(0deg);
    }

    33% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(0deg);
    }

    100% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(45deg);
    }
  }

  @keyframes backward-two {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes backward-three {
    0% {
      top: calc(100% - #{$line-height});
      transform: rotate(0deg);
    }

    33% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(0deg);
    }

    100% {
      top: calc(50% - #{$line-height} / 2);
      transform: rotate(135deg);
    }
  }
}

.main-header-sign,
.main-header-profile {
  text-decoration: none;
  color: $color-black;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-top: 5px;
  display: flex;
  font-size: 15px;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  line-height: 18px;
  outline: none;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    fill: $color-white;
    border-radius: 50%;

    padding-left: 4px;
    padding-right: 3px;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
