<template>
  <div>
    <sign-in></sign-in>
    <sign-up></sign-up>
    <password-recover></password-recover>
  </div>
</template>

<script>
import SignIn from '~/components/Modals/SignIn'
import SignUp from '~/components/Modals/SignUp'
import PasswordRecover from '~/components/Modals/PasswordRecover'

export default {
  name: 'Modals',
  components: {
    SignIn,
    SignUp,
    PasswordRecover
  }
}
</script>

<style lang="scss">
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}

.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}
</style>
