<template>
  <div class="page-profile">
    <div class="container">
      <el-form
        ref="form"
        :model="userData"
        :rules="rules"
        class="profile"
        @submit.native.prevent="onSave()"
      >
        <el-upload
          ref="upload"
          class="profile-uploader"
          action="https://jsonplaceholder.typicode.com/posts/"
          :show-file-list="false"
          :on-change="handleAvatarChange"
          :auto-upload="false"
        >
          <i
            v-if="!userData.imageUrl"
            class="el-icon-plus avatar-uploader-icon"
          ></i>
          <img v-else :src="userData.imageUrl" class="avatar" />
        </el-upload>

        <div class="profile-data">
          <div class="profile-data__block">
            <el-form-item label="Имя" prop="name">
              <el-input v-model="userData.name" name="name" />
            </el-form-item>

            <el-form-item label="Фамилия" prop="lastName">
              <el-input v-model="userData.lastName" name="lastName" />
            </el-form-item>

            <el-form-item label="Дата регистрации" prop="dateReg">
              <el-input v-model="userData.dateReg" disabled name="dateReg" />
            </el-form-item>
          </div>

          <div class="profile-data__block">
            <el-form-item label="Страна" prop="country">
              <el-input v-model="userData.country" name="country" />
            </el-form-item>

            <el-form-item label="Город" prop="city">
              <el-input v-model="userData.city" name="city" />
            </el-form-item>

            <el-form-item label="Компания" prop="company">
              <el-input v-model="userData.company" name="company" />
            </el-form-item>

            <el-form-item label="Пол" prop="gender">
              <el-checkbox v-model="userData.gender.male">Мужской</el-checkbox>
              <el-checkbox v-model="userData.gender.female"
                >Женский</el-checkbox
              >
            </el-form-item>

            <el-form-item label="Дата рождения" prop="birthday">
              <el-input v-model="userData.birthday" name="birthday" />
            </el-form-item>
          </div>

          <div class="profile-data__block">
            <el-form-item label="Телефон" prop="phone">
              <el-input v-model="userData.phone" name="phone" />
            </el-form-item>

            <el-form-item label="Email" prop="email">
              <el-input v-model="userData.email" name="email" />
            </el-form-item>

            <el-form-item label="Skype" prop="skype">
              <el-input v-model="userData.skype" name="skype" />
            </el-form-item>

            <el-form-item label="Whatsapp" prop="whatsapp">
              <el-input v-model="userData.whatsapp" name="whatsapp" />
            </el-form-item>

            <el-form-item label="Telegram" prop="telegram">
              <el-input v-model="userData.telegram" name="telegram" />
            </el-form-item>
          </div>

          <div class="profile__footer">
            <app-btn router="/logout/">Выход</app-btn>
            <app-btn type="submit">Сохранить</app-btn>
          </div>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
export default {
  name: 'Profile',
  components: { AppBtn },
  async asyncData({ store }) {
    let userData = {}

    await store.dispatch('auth/A_USER_DATA').then(({ data }) => {
      userData = data
    })

    return { userData }
  },
  data: () => ({
    imageUrl: '',
    image: '',
    userData: {
      imageUrl: '',
      name: '',
      lastName: '',
      company: '',
      dateReg: '',
      phone: '',
      email: '',
      skype: '',
      whatsapp: '',
      telegram: '',
      country: '',
      gender: {
        male: false,
        female: false
      },
      birthday: ''
    },
    rules: {
      text: [
        {
          required: true,
          message: 'Текст не должен быть пустым',
          trigger: 'blur'
        }
      ],
      title: [
        {
          required: true,
          message: 'Название поста не может быть пустым',
          trigger: 'blur'
        }
      ]
    }
  }),
  computed: {},
  methods: {
    ...mapActions({
      update: 'auth/A_UPDATE_USER',
      getUserData: 'auth/A_USER_DATA',
      uploadAvatar: 'user/A_UPLOAD_AVATAR'
    }),
    handleAvatarChange(file, filelist) {
      const isJPG = file.raw.type === 'image/jpeg'
      const isPNG = file.raw.type === 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG & !isPNG) {
        this.$message.error('Загрузите jpg или png файл не больше 2MB')
      }
      if (!isLt2M) {
        this.$message.error('Файл не должен превышать размер 2MB')
      }
      if ((isJPG && isLt2M) || (isPNG && isLt2M)) {
        this.userData.imageUrl = URL.createObjectURL(file.raw)
        this.image = file.raw
      }
    },
    onSave() {
      this.$refs.form.validate(async (valid) => {
        if (valid && this.image) {
          this.loading = true
          const formData = this.userData

          try {
            await this.uploadAvatar(this.image).then(({ data }) => {
              formData.imageUrl = data.imageUrl
            })

            await this.update(formData).then(({ data }) => {
              this.$refs.upload.clearFiles()
              this.$refs.form.resetFields()
              this.userData = data
            })

            this.$message.success('Данные обновлены')
          } catch (e) {
            console.log(e)
          } finally {
            this.loading = false
          }
        } else if (!this.image) {
          this.$message.warning('Загрузите изображение')
        } else {
          this.$message.warning('Форма не валидна')
        }
      })
    }
  }
}
</script>

<style lang="scss">
.profile {
  max-width: 900px;
  padding: 50px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);

  &__footer {
    display: flex;
    justify-content: space-between;

    @include media($width_xs, 0) {
      flex-flow: column-reverse nowrap;

      .btn {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  @include media($width_xs, 0) {
    display: flex;
    flex-flow: column nowrap;
  }
}

.profile-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.profile-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
  object-fit: cover;
  object-position: center;
}
</style>
