<template lang="pug">
  .container
    app-preloader
    .admin-panel
      .admin-panel__aside
        app-aside
      .admin-panel__content
        nuxt
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppAside from '~/components/Admin/AppAside'
import AppPreloader from '~/components/AppUi/AppPreloader'
export default {
  components: { AppAside, AppPreloader },
  computed: {
    ...mapGetters({
      error: 'G_ERROR'
    })
  },
  watch: {
    error(value) {
      this.$toast.error(
        value.response.data.message,
        'Ошибка',
        this.notificationSystem.options.error
      )
    }
  },
  mounted() {
    this.preloader({ load: false })
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    })
  }
}
</script>

<style lang="scss">
.admin-panel {
  display: grid;
  grid-template-columns: 300px calc(100% - 325px);
  gap: 25px;

  &__aside {
    min-height: 100vh;
    border-right: 1px solid $color-border;
    box-shadow: 3px 0 3px rgba($color-black, 0.1);
  }

  &__content {
    min-height: 100vh;
  }
}
</style>
