<template lang="pug">
  div
    //- app-preloader
    main-header
    main.wrapper
      nuxt
    main-footer
    modals
    transition(name="fade")
      modal-banner(
        @modalShow="setBannerVisibility()"
        v-if="isBannerVisible"
        title="Акция - купи удобрение получи РУКАС 300 в подарок"
        :formName="'Акция - РУКАС 300 в подарок'"
        :btnName="'Заказать звонок'"
      )
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-WPK943X" height="0" width="0" style="display:none;visibility:hidden")
</template>

<script>
import mainHeader from '~/components/Header'
import MainFooter from '~/components/Footer'
import AppPreloader from '~/components/AppUi/AppPreloader'
import EquipmentTable from '~/components/equipmentTable'
import Modals from '~/components/Modals'

const ModalBanner = () => ({
  component: import('~/components/AppUi/AppPopupBanner.vue'),
  loading: AppPreloader,
  timeout: 3000
})
export default {
  components: {
    AppPreloader,
    MainFooter,
    mainHeader,
    EquipmentTable,
    ModalBanner,
    Modals
  },
  data: () => ({
    tmpShow: false,
    isBannerVisible: false
  }),
  head: {
    script:
      process.env.NODE_ENV === 'production'
        ? [
            {
              src:
                '//api.venyoo.ru/wnew.js?wc=venyoo/default/science&widget_id=6753175723966464',
              body: true,
              type: 'text/javascript',
              charset: 'utf-8'
            }
          ]
        : '',
    __dangerouslyDisableSanitizers: ['script', 'noscript']
  },
  mounted() {},
  methods: {
    showBanner() {
      this.isBannerVisible = true
    },
    setBannerVisibility(showed) {
      if (this.isBannerVisible) {
        this.isBannerVisible = showed
      }
    }
  }
  // async fetch({ store }) {
  //   await store.dispatch('admin/equipments/A_GET_PAGES_LIST')
  // },
  // mounted() {
  //   this.$store.dispatch('A_PRELOADER_END', { load: false })
  // }
}
</script>

<style lang="scss">
.tmp {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
  box-shadow: 0 -1px 10px rgba($color-primary, 0.25);
  background-color: $color-white;

  h6 {
    margin-bottom: 5px;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    fill: $color-accent;
    cursor: pointer;
  }
}
html {
  font-family: $font-default, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: $fz-base;
  color: $color-primary;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#__nuxt,
#__layout {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
