<template lang="pug">
  div.dev
    img(src="~/static/images/dev.png" alt="Сайт в разработке")
    h1
      | Сайт находится на реконструкции.
    h3
      | Попробуйте зайти позже.
</template>

<script>
export default {
  name: 'Dev'
}
</script>

<style lang="scss">
.dev {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 25px;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
