<template lang="pug">
  section.error-page
    .container
      nuxt-link(to="/") На главную

      h1
        | Ошибка 404
      h3
        | Страница не найдена
</template>

<script>
export default {
  name: 'Error'
}
</script>

<style scoped></style>
