<template lang="pug">
  main.wrapper
    .container
      nuxt-link(to="/") На главную
      nuxt
</template>

<script>
import mainHeader from '~/components/Header'
export default {
  components: {
    mainHeader
  }
}
</script>

<style lang="scss"></style>
