<template lang="pug">
  section.admin-post
    app-breadcrumbs(:breadcrumbsList="postsBreadcrumbs")
    h1 Страница {{ post.title }}
    validation-observer(
      tag="form"
      v-slot="{ validate, reset }"
      ref="postEditObserver"
      @submit.prevent="onSubmit()"
    ).admin-post__form
      .admin-page__row
        app-field(
          v-model="controls.title"
          :fieldData="controls.title"
          type="text"
          placeholder="Заголовок"
        ).admin-page__field
      .admin-page__row
        app-field(
          v-model="controls.preview"
          :fieldData="controls.preview"
          type="text"
          placeholder="Краткое описание"
        ).admin-page__field
      .admin-page__file
        p
          | Изображение превью новости
        .post-img-preview(v-if="hasImage === false")
          img(
            :src="`/images${post.imageUrl}`",
            alt=""
          )
        client-only
          image-uploader(
            :debug="0"
            :maxWidth="1280"
            :quality="0.8"
            :autoRotate="true"
            outputFormat="file"
            :preview="true"
            :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
            :capture="false"
            accept="video/*,image/*"
            doNotResize="['gif', 'svg']"
            @input="setImage"
          )
      .admin-page__row
        app-field(
          v-model="controls.content"
          :fieldData="controls.content"
          type="textarea"
          placeholder="Контент новости в формате *md *html"
        ).admin-page__field.admin-page__field--textarea
      .admin-page__row
        vue-markdown(
          :source="controls.content"
        ).admin-page__preview
      .admin-page__row
        a(
          href="https://github.com/sandino/Markdown-Cheatsheet"
          target="_blank"
        )
          | Шпаргалка по markdown
      .admin-page__row
        app-field(
          v-model="controls.date"
          :fieldData="controls.date"
          type="text"
          placeholder="Дата размещения"
        ).admin-page__field
      .admin-page__row
        app-field(
          v-model="controls.videoUrl"
          :fieldData="controls.videoUrl"
          type="text"
          placeholder="сслыка на видео"
        ).admin-page__field
      app-btn(type="submit").btn-submit Изменить
</template>

<script>
import { mapActions } from 'vuex'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'
import AppBreadcrumbs from '~/components/AppUi/AppBreadcrumbs'
export default {
  name: 'AdminPost',
  components: { AppBreadcrumbs, AppField, AppBtn },
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store, params }) {
    const post = await store.dispatch(
      'admin/post/fetchPostAdminById',
      params.id
    )
    return { post }
  },
  data: () => ({
    controls: {
      title: '',
      content: '',
      preview: '',
      imageUrl: '',
      date: '',
      videoUrl: ''
    },
    hasImage: false,
    fileImage: null,
    postsBreadcrumbs: [
      {
        link: '/admin/news',
        name: 'Список страниц'
      }
    ],
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  head() {
    return {
      title: `${this.post.title}`
    }
  },
  created() {
    this.postsBreadcrumbs.push({
      name: this.post.title
    })
  },
  mounted() {
    if (this.post.title) this.controls.title = this.post.title
    if (this.post.content) this.controls.content = this.post.content
    if (this.post.preview) this.controls.preview = this.post.preview
    if (this.post.date) this.controls.date = this.post.date
    if (this.post.videoUrl) this.controls.videoUrl = this.post.videoUrl
  },
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END'
    }),
    async onSubmit() {
      const postEditValid = await this.$refs.postEditObserver.validate()
      if (postEditValid) {
        this.preloader({ load: true })
        try {
          const formData = {
            id: this.post._id,
            title: this.controls.title,
            content: this.controls.content,
            image: this.fileImage,
            preview: this.controls.preview,
            date: this.controls.date,
            videoUrl: this.controls.videoUrl
          }

          await this.$store.dispatch('admin/post/updatePost', formData)

          this.preloader({ load: false })
          this.$toast.success(
            'Контент успешно изменен',
            'OK',
            this.notificationSystem.options.success
          )
        } catch (e) {
          this.preloader({ load: true })
          console.log(e)
        }
      } else {
        this.$toast.error(
          'Форма не валидна',
          'Ошибка',
          this.notificationSystem.options.success
        )
      }
    },
    setImage(output) {
      this.fileImage = output
      this.hasImage = true
    }
  }
}
</script>

<style lang="scss">
.post-img-preview {
  width: 300px;
  height: 200px;

  img {
    max-width: 100%;
    height: 100%;
  }
}
</style>
