<template lang="pug">
  section.admin-pages
    h1 Список новостей
    ul.admin-pages-list
      li.admin-pages-list__item(
        v-for="item in posts"
        :key="item._id"
      )
        span.admin-pages-list__name
          | {{ item.title }}
        span.admin-pages-list__edit(
          @click="open(item._id)"
        )
          svg-icon(name="icon-edit")
        span.admin-pages-list__edit(
          @click="remove(item._id)"
        )
          svg-icon(name="icon-close")
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  name: 'NewsAdmin',
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData({ store }) {
    const posts = await store.dispatch('admin/post/fetchPostsAdmin')
    return { posts }
  },
  data: () => ({
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    open(id) {
      this.$router.push(`/admin/news/${id}`)
    },
    async remove(id) {
      try {
        await this.$store.dispatch('admin/post/removePost', id)
        await this.$store.dispatch('admin/post/fetchPostsAdmin')
        this.$toast.success(
          'Оборудование удалено',
          'OK',
          this.notificationSystem.options.success
        )
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style scoped lang="scss">
.admin-pages {
  &-list {
    padding-left: 0;
    list-style: none;

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    &__name {
      margin-right: auto;
    }

    &__edit {
      width: 30px;
      height: 30px;
      cursor: pointer;

      svg {
        fill: $color-primary;
      }
    }
  }
}
</style>
