<template>
  <div class="app-aside">
    <el-menu
      :router="true"
      :default-active="activeLink"
      class="el-menu-vertical-demo"
      :collapse="isCollapse"
      @open="handleOpen"
      @close="handleClose"
    >
      <el-menu-item
        v-for="(item, num) in G_ADMIN_NAV_LIST"
        :key="`adminNavItem_${num}`"
        :index="item.path"
      >
        <i class="el-icon-location"></i>
        <span slot="title">{{ item.name }}</span>
      </el-menu-item>
    </el-menu>
  </div>
  <!-- //- nav.admin-menu //- ul.admin-menu__list //- li.admin-menu__item( //-
  v-for="(item, index) in G_ADMIN_NAV_LIST" //- :key="`adminNavItem_${index}`"
  //- ) //- nuxt-link( //- :to="item.path" //- :class="item.path === $route.path
  ? 'isActive' : ''" //- ).admin-menu__link //- | {{ item.name }} -->
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'AppAside',
  data: () => ({
    activeLink: null,
    isCollapse: false
  }),
  computed: {
    ...mapGetters({
      G_ADMIN_NAV_LIST: 'admin/G_ADMIN_NAV_LIST'
    })
  },
  watch: {
    $route(to, from) {
      this.activeLink = to.path
    }
  },

  mounted() {
    this.activeLink = this.$route.path
  },
  created() {
    this.A_ADMIN_NAV_LIST()
  },
  methods: {
    ...mapActions({
      A_ADMIN_NAV_LIST: 'admin/A_ADMIN_NAV_LIST'
    }),
    handleOpen(key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

<style lang="scss" scoped>
.admin-menu {
  padding-top: 20px;

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__item {
    padding: 15px 0;
  }

  &__link {
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;

    &.isActive {
      text-decoration: underline;
    }
  }
}
</style>
