<template lang="pug">
  div
    section.intro
      .intro__circle.intro__circle--first
      .intro__circle.intro__circle--second
      .intro__wheat
        img(src="~/static/images/wheat_left.png" srcset="~/static/images/wheat_left@2x.png")
      app-catalog-equipments(
        title="ОБОРУДОВАНИЕ ЖИДКОГО ПИТАНИЯ РАСТЕНИЙ"
        subtitle="Технология жидкого питания растений НАГРО позволяет дополнительно получить не менее 10 т.р. с гектара"
      )
    section.actions
      .container
        h2.section-title(data-aos="fade")
          | Акции
        .actions__wrapper
          .actions__pic
            img(src="/images/new_prices.jpg")
          .actions__text
            p
              | Внимание! Уважаемые партнеры и клиенты группы компаний "Нагро" мы снизили цены на РУКАС 100 и АТД СЗР!
            p
              | Успейте приобрести растворный узел карбамидно-аммиачной смеси 100 всего за 1 800 000р, а так же автоматический точный дозатор средств защиты растений за 3 156 000р!
            app-btn(@click.native="showBanner()")
              | Узнать подробности
    section.technology
      .container
        h2.section-title(data-aos="fade")
          | НАША ТЕХНОЛОГИЯ
        .technology__wrapper
          .technology-description
            p
              | Группа компаний НАГРО представляет революционную технологию жидкого комплексного питания растений.
              | Технология НАГРО повышает эффективность применения удобрений от 2 до 4 раз.
              | Растения усваивают до 40% сухих азотных удобрений, и всего лишь 20% сложных сухих удобрений.
            p
              | Жидкие удобрения экономят ваши деньги и спасают почвы от засоления и других негативных факторов, связанных с
              | применением сухих минетальных удобрений.
              | Технология жидкого питания НАГРО повышает урожайность до 2-х раз, поскольку растение получает комплексное питание,
              | включая основные макроэлементы и микроэлементы, содержащиеся в удобрении НАГРО универсальное.
            p
              | Жидкое удобрение НАГРО состоит из 26 компонентов органического происхождения и содержит биоинсектициды и
              | биофунгициды, что позволяет снизить расходы на химические средства защиты растений.
              | Мы разработали линейку компактных установок для производства жидких азотных и сложных удобрений непосредственно
              | в хозяйстве.
            a(href="#" @click.prevent="readMore($event)").technology__read-more
              | Читать ещё
            transition-group(
              tag="div"
              name="fade"
            )
              p(key="technologyAbout_1" v-if="technologyHiddenText")
                | Сухие компоненты засыпаются в бункер, далее в него подаётся вода и микроэлементы НАГРО.
                | Весь процесс производства автоматизирован, что позволяет сохранять заявленную производительность и избежать ошибок,
                | связанных с человеческим фактором.
                | Универсальный ротационный питающий культиватор от компании НАГРО позволяет совмещать предпосевную обработку
                | почвы и внесение жидких комплексных удобрений, в том числе жидкой азофоски и диаммофоски.
              p(key="technologyAbout_2" v-if="technologyHiddenText")
                | Наш культиватор вносит удобрение на глубину от 8 до 20 сантиметров.
                | Таким образом семена растения получают полноценное комплексное питание в момент прорастания.
                | Также наше оборудование может производить удобрение КАС-СМ, которое обеспечивает потребности растения в азоте,
                | калии, фосфоре, сере и микроэлементах при обработке по вегетации.
              p(key="technologyAbout_3" v-if="technologyHiddenText")
                | Технология НАГРО подразумевает дробное комплексное питание растений, поэтому мы предлагаем вносить удобрение не
                | только при посеве, а с учетом фаз развития растений. Внесение также можно сочетать даже с фунгицидной и инсектицидной
                | обработкой.
                | Благодаря этому значительно повышается урожайность и качество сельхоз продукции.
                | Наша общая цель - сохранение ценных природных ресурсов и повышение эффективности вашего агробизнеса.
              p(key="technologyAbout_4" v-if="technologyHiddenText")
                | Свяжитесь с нами, чтобы получить подробную презентацию технологии и особые условия на первый заказ.
                | Мы всегда рады приветствовать вас на нашей производственной площадке в городе Подольск для проведения презентации.
            .technology-description__footer
              app-btn(@click.native="showPopup()")
                | ЗАКАЗАТЬ ЗВОНОК
              nuxt-link(to="/about")
                | Подробнее о технологии
          .technology-video(data-aos="fade")
            client-only
              youtube(
                player-height="100%"
                player-width="100%"
                video-id="ezU3ngAEMsc"
              ).video
        .technology-patent(data-aos="fade-up")
          .technology-patent__item
            h5.technology-patent__title
              | Запатентованная технология
            img(src="~/static/images/patent.jpg")
          .technology-patent__item
            h5.technology-patent__title
              | Результаты экспертизы КАС 32, приготовленного в нашем растворном узле
            img(src="~/static/images/expertise_kas32.jpg")
    section.calculator
      .calculator__circle.calculator__circle--first
      .calculator__circle.calculator__circle--second
      .calculator__wheat
        img(src="~/static/images/wheat_1.png" srcset="~/static/images/wheat_1@2x.png").calculator__wheat-pic.calculator__wheat-pic--1
        img(src="~/static/images/wheat_2.png" srcset="~/static/images/wheat_2@2x.png").calculator__wheat-pic.calculator__wheat-pic--2
        img(src="~/static/images/wheat_3.png" srcset="~/static/images/wheat_3@2x.png").calculator__wheat-pic.calculator__wheat-pic--3
        img(src="~/static/images/wheat_big.png" srcset="~/static/images/wheat_big@2x.png").calculator__wheat-pic.calculator__wheat-pic--big
      .presentation
        .container.presentation__wrapper
          h2.section-title(data-aos="fade")
            | Презентации нашей продукции
          .presentation__item
            .presentation__preview
              img(src="/images/presentation_1.jpg" alt="")
            app-btn(
              linkFile="/documents/presentation_1.pdf"
            ).price-btn
              | Скачать презентацию
          .presentation__item
            .presentation__preview
              img(src="/images/presentation_2.jpg" alt="")
            app-btn(
              linkFile="/documents/presentation_2.pdf"
            ).price-btn
              | Скачать презентацию
    section.video-reviews
      .container
        h2.section-title(data-aos="fade")
          | Видео отзывы наших клиентов
        .video-reviews__wrapper
          app-slider(data-aos="fade" :items="3" :gap="10" className="triple" :breakpoints="sliderBreakpoints" :itemsArray="videoLinksArray" :lightBox="false" :video="true" center=1).video-reviews__slider
    section.partners
      .container
        h2.section-title(data-aos="fade")
          | Партнеры
        transition-group(
          name="fade"
          tag="ul"
          class="partners-list"
        )
          li.partners-list__item(v-if="item.showed" v-for="(item, index) in partners" :key="`partner_${index}`")
            img(:src="item.partner")
        //a(href="#" @click.prevent="showPartners($event)")
          | Полный список партнеров
      //li(v-for="(test, index) in allPromos" :key="index")
        | {{ test.title }}
        br
        | {{ test.description }}
    transition(name="fade")
      modal-window(
        @modalShow="setPopupVisibility()"
        v-if="isModalVisible"
        :formName="'Заказать обратный звонок'"
        :btnName="'Заказать звонок'"
        :reachGoal="'zvonok'"
      )
    transition(name="fade")
      modal-banner(
        @modalShow="setBannerVisibility()"
        v-if="isBannerVisible"
        title="Акция - купи РУКАС и получи кассеты в подарок"
        :formName="'Акция'"
        :btnName="'Заказать звонок'"
      )
    //- transition(name="fade")
    //-   modal-banner(
    //-     @modalShow="setBannerVisibility()"
    //-     v-if="isBannerVisible"
    //-     title="Акция - купи удобрение получи РУКАС 300 в подарок"
    //-     :formName="'Акция - РУКАС 300 в подарок'"
    //-     :btnName="'Заказать звонок'"
    //-   )
</template>

<script>
import { mapGetters } from 'vuex'
import { TweenMax, TimelineMax } from 'gsap'
import AppTooltip from '~/components/AppUi/AppTooltip'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'
import AppField from '~/components/AppUi/AppField'
import AppSlider from '~/components/AppUi/AppSlider'
import AppVideo from '~/components/AppUi/AppVideo'
import AppFormCalc from '~/components/AppUi/AppFormCalc'
import AppCatalogEquipments from '~/components/AppUi/AppCatalogEquipments'
import EquipmentTable from '~/components/equipmentTable'
import SignUp from '~/components/Modals/SignUp'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

const ModalBanner = () => ({
  component: import('~/components/AppUi/AppPopupBanner.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  components: {
    EquipmentTable,
    AppVideo,
    AppField,
    AppBtn,
    AppTooltip,
    ModalWindow,
    AppPreloader,
    AppSlider,
    AppFormCalc,
    AppCatalogEquipments,
    ModalBanner,
    SignUp
  },
  data: () => ({
    videoId: 'X_vpPPmKSiE',
    technologyHiddenText: false,
    calcHectares: null,
    calcWeight: null,
    calcCost: null,
    resultCalculation: 0,
    resultNagroCalculation: 0,
    resultDifference: 0,
    isVideoVisible: false,
    isModalVisible: false,
    isBannerVisible: false,
    sliderBreakpoints: {
      1024: {
        perView: 2,
        focusAt: 1,
        peek: 30,
        gap: 30
      },
      768: {
        perView: 1,
        peek: 15,
        gap: 30
      }
    },
    videoLinksArray: [
      {
        videoId: '0Pwkb0o05_M'
      },
      {
        videoId: '_028YAj4-WY'
      },
      {
        videoId: '0cCJZLn-FdE'
      },
      {
        videoId: 'dEQcaGxq-JU'
      },
      {
        videoId: '0wBqzgIBxVA'
      },
      {
        videoId: 'vePrprKWIOs'
      }
    ],
    partners: [
      {
        partner: require('~/static/images/partner_miratorg.jpg'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_kaz_astik.png'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_agroeko.jpg'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_rusagro.jpg'),
        showed: true
      }
    ],
    form: {
      name: '',
      region: '',
      date1: '',
      date2: '',
      delivery: false,
      type: [],
      resource: '',
      desc: ''
    },
    dialogFormVisible: false,
    formLabelWidth: '120px'
  }),
  computed: {
    ...mapGetters({
      G_CONTENT_PAGE: 'admin/equipments/G_CONTENT_PAGE'
    }),
    reviews() {
      return this.$store.getters.G_REVIEWS
    },
    promoPlayer() {
      return this.$refs.promoVideo
    }
  },
  mounted() {
    const introCircleFirst = new TimelineMax()
    const introCircleSecond = new TimelineMax()

    introCircleFirst.fromTo('.intro__circle--first', 0.8, { x: 100 }, { x: 0 })
    introCircleSecond.fromTo(
      '.intro__circle--second',
      0.8,
      { scale: 0 },
      { scale: 1 }
    )

    // Анимации на скролл
    const timelineIntro = new TimelineMax()
    // TODO анимация калькулятор
    const timelineCalc = new TimelineMax()
    const timelinePartners = new TimelineMax()

    timelineIntro.add([
      TweenMax.to('.intro__tomato--first', 1, {
        top: '72%',
        left: '-55px'
      }),
      TweenMax.to('.intro__tomato--second', 0.5, {
        left: '-35px'
      })
    ])

    // TODO анимация калькулятор
    timelineCalc.add([
      TweenMax.to('.calculator__wheat-pic--1', 0.5, {
        x: '-15px'
      }),
      TweenMax.to('.calculator__wheat-pic--2', 0.8, {
        y: '-15px'
      }),
      TweenMax.to('.calculator__wheat-pic--3', 1, {
        x: '15px'
      }),
      TweenMax.to('.calculator__wheat-pic--big', 0.6, {
        y: '20px',
        x: '-20px'
      })
    ])

    timelinePartners.add([
      TweenMax.staggerFromTo(
        '.partners-list__item',
        1.2,
        {
          opacity: 0,
          y: '100vh'
        },
        {
          opacity: 1,
          y: '0'
        },
        0.5
      )
    ])

    const introScene = this.$scrollmagic
      .scene({
        triggerElement: '.intro',
        triggerHook: 0.1,
        duration: '90%'
      })
      .setTween(timelineIntro)

    // TODO анимация калькулятор сцена
    const calcScene = this.$scrollmagic
      .scene({
        offset: 0,
        triggerElement: '.calculator',
        triggerHook: 0.25,
        duration: '100%'
      })
      .setTween(timelineCalc)

    const partnersScene = this.$scrollmagic
      .scene({
        offset: -280,
        triggerElement: '.partners',
        triggerHook: 0.6,
        duration: '30%'
      })
      .setTween(timelinePartners)

    this.$scrollmagic.addScene([introScene, partnersScene, calcScene])
  },
  beforeCreate() {
    this.$store.dispatch('A_GET_REVIEWS_DATA')
  },
  methods: {
    readMore(event) {
      this.technologyHiddenText = true
      event.target.remove()
    },
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      if (this.isModalVisible) {
        this.isModalVisible = showed
      }
    },
    showPartners(event) {
      this.partners.map((item, index) => {
        if (!item.showed) item.showed = true
      })
      event.target.remove()
    },
    closePromoVideo() {
      this.promoPlayer.$destroy()
      this.$store.dispatch('A_PROMO_VIDEO_SHOWED', { showed: false })
    },
    async calculation() {
      const calcValid = await this.$refs.calculationObserver.validate()

      if (calcValid) {
        const sumOneKg = this.calcCost / 1000
        this.resultCalculation = Math.round(
          this.calcWeight * this.calcHectares * sumOneKg
        )
        this.resultNagroCalculation =
          // Math.round(
          //   this.resultCalculation - (this.resultCalculation / 100) * 80
          // )
          Math.round((this.calcWeight / 2) * this.calcHectares * sumOneKg)
        this.resultDifference = Math.round(
          this.resultCalculation - this.resultNagroCalculation
        )
        // console.log(sumOneKg)

        // Сухое 200кг на гектар
        // ЖСУ 137кг на гектар
        this.isModalCalcVisible = true
        requestAnimationFrame(() => {
          this.$refs.calculationObserver.reset()
        })
      }
    },
    animationPromoPlay() {
      const promoVideo = new TimelineMax()
      const promoVideoContainer = new TimelineMax()

      promoVideo.fromTo(
        '.popup-video',
        0.6,
        { opacity: 0 },
        { visibility: 'visible', opacity: 1 }
      )
      promoVideoContainer.fromTo(
        '.popup-video__container',
        0.4,
        { left: '50%', top: '100%', scale: 0, visibility: 'hidden' },
        { left: 0, top: 0, scale: 1, visibility: 'visible' }
      )
    },
    showBanner() {
      this.isBannerVisible = true
    },
    setBannerVisibility(showed) {
      if (this.isBannerVisible) {
        this.isBannerVisible = showed
      }
    }
  }
}
</script>

<style lang="scss">
.video {
  position: relative;
  min-width: 100%;
  min-height: 100%;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
.events {
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 25px;

    @include media($width_xs_s, 0) {
      display: flex;
      flex-flow: column nowrap;
      grid-template-columns: none;
      grid-gap: 0;
    }
  }

  &__pic {
    width: 600px;
    height: 600px;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    @include media($width-container, 0) {
      width: 600px / $width-container * 100vw;
      height: 600px / $width-container * 100vw;
    }

    @include media($width_xs_s, 0) {
      width: 100%;
      height: 550px / $width_xs_s * 100vw;
    }
  }
}

.actions {
  position: relative;
  padding-top: 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    grid-gap: 25px;

    @include media($width_md, 0) {
      grid-template-columns: 50% 45%;
    }

    @include media($width_xs_s, 0) {
      display: flex;
      flex-flow: column nowrap;
      grid-template-columns: none;
      grid-gap: 0;
    }
  }

  &__pic {
    width: 100%;
    height: auto;

    img {
      max-width: 100%;
      //max-height: 100%;
    }

    @include media($width-container, 0) {
      width: 600px / $width-container * 100vw;
      height: 400px / $width-container * 100vw;
    }

    @include media($width_xs_s, 0) {
      width: 100%;
      height: 300px / $width_xs_s * 100vw;
    }
  }
}
/*intro*/
.intro {
  position: relative;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;

  .price-btn {
    background-color: $color-accent !important;

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        background-color: $color-primary !important;
      }
    }
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $color-circles;

    &--first {
      right: -(190px / 2);
      top: 15px;
      width: 170px;
      height: 170px;

      @include media($width-container, 0) {
        right: -((190px / $width-container * 100vw) / 2);
        top: 15px / $width-container * 100vw;
        width: 170px / $width-container * 100vw;
        height: 170px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: -(190px / 2);
        top: 15px;
        width: 170px;
        height: 170px;
      }
    }

    &--second {
      right: 5%;
      top: 200px;
      width: 135px;
      height: 135px;

      @include media($width-container, 0) {
        top: 200px / $width-container * 100vw;
        width: 135px / $width-container * 100vw;
        height: 135px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 40%;
        top: 60%;
        width: 135px;
        height: 135px;
      }

      @include media($width_xs, 0) {
        display: none;
        /*right: 60%;*/
        /*top: 55%;*/
      }

      @include media($width_xs_1, 0) {
        display: none;
      }
    }
  }

  &__wheat {
    position: absolute;
    width: 315px;
    height: 215px;
    left: -(300px / 2);
    top: 80%;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media(1440px, 0) {
      display: none;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 630px 634px;
    gap: 16px;
    padding-top: 190px;
    padding-bottom: 35px;

    @include media($width-container, 0) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px / $width-container * 100vw;
      padding-top: 225px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      padding-top: 60px;
      padding-bottom: 0;
      grid-template-columns: none;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__text {
    padding-top: 40px;
    z-index: 1;

    @include media($width_md, 0) {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 40px;

    @include media($width-container, 0) {
      font-size: 40px / $width-container * 100vw;
      margin-bottom: 40px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      font-size: 42px;
      padding-right: 35px;
    }
  }

  &__description {
    max-width: 530px;
    margin-bottom: 20px;

    @include media($width-container, 0) {
      font-size: 20px / $width-container * 100vw;
      max-width: 530px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      font-size: 20px;
      max-width: 530px;
    }
  }

  &__machine {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 634px;
      height: 634px;
      border-radius: 50%;
      border-width: 110px;
      border-style: solid;
      border-color: $color-circles;
      transform: translate(-50%, -50%);

      @include media($width-container, 0) {
        width: 634px / $width-container * 100vw;
        height: 634px / $width-container * 100vw;
        border-width: 110px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        left: auto;
        right: 0;
        transform: translate(0, -50%);
        width: calc(634px / 2);
        height: calc(634px / 2);
        border-width: calc(110px / 2);
      }
    }

    &-pic {
      position: relative;
      width: 645px;
      height: 360px;

      img {
        max-width: 100%;
        height: auto;
      }

      .tooltip {
        &-1 {
          left: 85px;
          top: 140px;

          @include media($width-container, 0) {
            left: 85px / $width-container * 100vw;
            top: 140px / $width-container * 100vw;
          }
        }

        &-2 {
          left: 270px;
          top: 190px;

          @include media($width-container, 0) {
            left: 270px / $width-container * 100vw;
            top: 190px / $width-container * 100vw;
          }
        }

        &-3 {
          left: 350px;
          top: 270px;

          @include media($width-container, 0) {
            left: 350px / $width-container * 100vw;
            top: 270px / $width-container * 100vw;
          }
        }

        &-4 {
          left: 460px;
          top: 130px;

          @include media($width-container, 0) {
            left: 460px / $width-container * 100vw;
            top: 130px / $width-container * 100vw;
          }
        }

        &-5 {
          left: 560px;
          top: 220px;

          @include media($width-container, 0) {
            left: 560px / $width-container * 100vw;
            top: 220px / $width-container * 100vw;
          }
        }

        @include media($width_md, 0) {
          display: none;
        }
      }

      @include media($width-container, 0) {
        width: 630px / $width-container * 100vw;
        height: 360px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        margin-left: auto;
        width: calc(645px / 2);
        height: calc(360px / 2);
      }

      @include media($width_xs_1, 0) {
        margin-right: auto;
      }
    }

    @include media($width_md, 0) {
      margin-top: -70px;
    }

    @include media($width_xs_1, 0) {
      display: none;
    }
  }

  @include media($width_md, 0) {
    padding-bottom: 0;
  }

  @include media($width_xs, 0) {
    min-height: auto;
    height: auto;
  }
}
/* end intro*/

/*technology*/
.technology {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  // TODO tmp when calc hidden

  &__wrapper {
    display: grid;
    grid-template-columns: 535px 570px;
    gap: 95px;

    @include media($width-container, 0) {
      align-items: flex-start;
      grid-template-columns: 535px / $width-container * 100vw 570px / $width-container * 100vw;
      gap: 95px / $width-container * 100vw;
    }

    @include media(980px, 0) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include media($width_xs, 0) {
      display: flex;
      flex-flow: column-reverse nowrap;
      grid-template-columns: none;
    }
  }

  &-description {
    &__footer {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding-top: 4px;

      .btn {
        margin-right: 30px;
        max-width: 265px;

        @include media($width-container, 0) {
          margin-right: 30px / $width-container * 100vw;
          max-width: 265px / $width-container * 100vw;
        }

        @include media($width_md, 0) {
          margin-right: 0;
          max-width: 245px / $width_md * 100vw;
        }

        @include media($width_xs, 0) {
          max-width: 320px;
        }

        @include media($width_xs_s, 0) {
          max-width: 100%;
        }
      }

      a {
        white-space: nowrap;

        @include media($width_xs_s, 0) {
          margin-bottom: 22px;
        }
      }

      @include media($width_md, 0) {
        justify-content: space-between;
      }

      @include media($width_xs_s, 0) {
        flex-flow: column-reverse nowrap;
      }
    }
  }

  &__read-more {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.technology-patent {
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }

  &__item {
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include media($width_xs, 0) {
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  @include media($width_xs, 0) {
    flex-flow: column nowrap;
  }
}

.technology-video {
  width: 100%;
  height: 340px;

  // &.isPromo {
  //   width: 100vw;
  //   height: 100vh;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  // }

  @include media($width-container, 0) {
    height: 340px / $width-container * 100vw;
  }

  @include media($width_md, 0) {
    height: 340px / $width_md * 100vw;
  }

  @include media($width_xs, 0) {
    height: 450px;
    margin-bottom: 35px;
  }

  @include media($width_xs_s, 0) {
    height: 250px;
  }
}
/* end technology*/
/* end calculator*/
.calculator {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 220px;

  &__circle {
    position: absolute;
    background-color: $color-circles;
    border-radius: 50%;

    &--first {
      right: 375px;
      top: 280px;
      width: 140px;
      height: 140px;

      @include media($width-container, 0) {
        right: 375px / $width-container * 100vw;
        top: 280px / $width-container * 100vw;
        width: 140px / $width-container * 100vw;
        height: 140px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 275px;
        top: 450px;
        width: 110px;
        height: 110px;
      }
    }

    &--second {
      right: 143px;
      top: 200px;
      width: 80px;
      height: 80px;

      @include media($width-container, 0) {
        right: 143px / $width-container * 100vw;
        top: 200px / $width-container * 100vw;
        width: 80px / $width-container * 100vw;
        height: 80px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 143px;
        top: 180px;
        width: 60px;
        height: 60px;
      }
    }

    @include media($width_xs_1, 0) {
      display: none;
    }
  }

  &__wheat {
    position: absolute;
    right: 0;
    top: calc(100% - 320px);
    height: 320px;
    width: 200px;

    &:before {
      content: '';
      position: absolute;
      right: -100px;
      top: 37px;
      width: 190px;
      height: 190px;
      border: 30px solid $color-circles;
      border-radius: 50%;

      @include media($width_xs_1, 0) {
        right: calc(-100px / 2);
        top: calc(37px / 2);
        width: calc(190px / 2);
        height: calc(190px / 2);
        border-width: 15px;
      }
    }

    &-pic {
      position: absolute;
      right: 0;
      top: 0;

      &--1 {
        right: 74px;
        top: 3px;
        width: 21px;
        height: 24px;

        @include media($width_xs_1, 0) {
          right: calc(74px / 2);
          top: calc(3px / 2);
          width: calc(21px / 2);
          height: calc(24px / 2);
        }
      }
      &--2 {
        right: 43px;
        top: -29px;
        width: 14px;
        height: 22px;

        @include media($width_xs_1, 0) {
          right: calc(43px / 2);
          top: calc(-29px / 2);
          width: calc(14px / 2);
          height: calc(22px / 2);
        }
      }
      &--3 {
        top: 8px;
        right: 18px;
        width: 24px;
        height: 29px;

        @include media($width_xs_1, 0) {
          top: calc(8px / 2);
          right: calc(18px / 2);
          width: calc(24px / 2);
          height: calc(29px / 2);
        }
      }
      &--big {
        right: -240px;
        height: 288px;
        width: 444px;

        @include media($width_xs_1, 0) {
          right: calc(-240px / 2);
          height: calc(288px / 2);
          width: calc(444px / 2);
        }
      }
    }

    @include media($width_xs_1, 0) {
      top: 27%;
      height: calc(320px / 2);
      width: calc(200px / 2);
    }
  }

  &-form {
    position: relative;
    z-index: 1;

    label.form-field {
      max-width: 500px;

      &:last-of-type {
        margin-bottom: 35px;
      }
    }

    &__title {
      margin-bottom: 40px;
    }
  }

  @include media($width_xs_1, 0) {
    padding-bottom: 60px;
  }

  @include media($width_xs_s, 0) {
    padding-bottom: 30px;
  }
}
/* end calculator*/

/* video-reviews*/
.video-reviews {
  //  TODO Когда верну калькулятор вернуть значения
  padding-top: 0;
  margin-top: -100px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;

    @include media($width_xs, 0) {
      flex-flow: row wrap;
    }
  }

  &__slider {
    max-width: 100%;
    width: 100%;
  }

  // &__video {
  //   width: 48%;
  //   height: 350px;
  //
  //   &:not(:last-of-type) {
  //     margin-bottom: 40px;
  //   }
  //
  //   @include media($width_xs, 0) {
  //     width: 100%;
  //     height: 350px / $width_xs * 100vw;
  //
  //     &:not(:last-of-type) {
  //       margin-bottom: 20px;
  //     }
  //   }
  //
  //   @include media($width_xs_s, 0) {
  //     height: 200px;
  //
  //     .vjs-poster {
  //       background-position: 50% 0;
  //     }
  //   }
  // }

  @include media($width_xs_1, 0) {
    margin-top: 0;
    padding-top: 60px;
  }

  @include media($width_xs_s, 0) {
    padding-top: 30px;
  }
}
/* video-reviews*/

/* partners*/
.partners {
  position: relative;
  /*padding-bottom: 120px;*/
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 10px;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media($width_xs_s, 0) {
      width: 90%;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-template-columns: none;
  }
}
/* end partners*/
/* news*/
.news {
  position: relative;
  padding-bottom: 120px;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  &-item {
    padding: 15px;
    width: calc(50% - 20px);
    background-color: $color-card;
    box-shadow: 0 0 10px rgba($color-black, 0.15);

    &:not(:nth-of-type(2n)) {
      margin-right: 20px;

      @include media($width_xs, 0) {
        margin-right: 0;
      }
    }

    &__header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__date {
      font-size: $fz-small;
      line-height: 24px;
      color: darken($color-border, 20%);
    }

    &__title {
      padding-right: 50px;

      @include media($width_xs_s, 0) {
        padding-right: 0;
      }
    }

    @include media($width_xs, 0) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
/* end news*/
.popup-video {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1000002;
  background-color: rgba($color-primary, 0.41);
  transition: background-color 0.3s;

  &__container {
    position: relative;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(75vw * 9 / 16);
    width: 75vw;

    .player,
    .video-player-box,
    .video-player-box .video-js,
    .video-js .vjs-tech {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__close {
    position: absolute;
    right: -40px;
    top: 5px;
    z-index: 106;
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: $color-primary;
    transition: transform 0.2s, fill 0.2s;

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        fill: $color-accent;
        transform: scale(1.1);
        transition: transform 0.2s, fill 0.2s;
      }
    }

    @include media($width_xs, 0) {
      right: 20px;
      top: 20px;
      z-index: 106;
      width: 20px;
      height: 20px;
    }
  }
}

.presentation {
  position: relative;

  .section-title {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include media($width_xs, 0) {
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  }

  &__item {
    width: 45%;

    .btn {
      max-width: 100%;
    }

    @include media($width_xs, 0) {
      width: 100%;
      margin-bottom: 22px;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid $color-border;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
</style>
