<template lang="pug">
  section.leasing
    .leasing__circle.leasing__circle--first
    .leasing__circle.leasing__circle--second
    .container
      h1.section-title(data-aos="fade")
        | Компания НАГРО предлагает
        br
        | вам оформить лизинг
        br
        | на наше инновационное оборудование.
      .leasing__wrapper
        .leasing-info
          p
            | Приобрести оборудование в лизинг можно через наших партнеров:
            br
            br
            | #[a(href="https://www.rosagroleasing.ru/" target="_blank") РОСАГРОЛИЗИНГ]
            br
            br
            | #[a(href="https://www.ileasing.ru/contacts/" target="_blank") ИНТЕРЛИЗИНГ]

          //- h3
          //-   | Список доступного оборудования
          //- ul.leasing-docs
          //-   li.leasing-docs__item(v-for="item in leasingFilesList")
          //-     a(
          //-       v-if="item.fileName"
          //-       :href="`/documents/leasing/${item.fileName}.docx`"
          //-     ).leasing-docs__link
          //-       | {{ item.fileName }}.docx
          //-     h5(v-else)
          //-       | {{ item.categoryName }}
          p
            | Что, собственно, представляет собой лизинг оборудования? В данном случае мы предоставляем вам наш уникальный продукт в аренду. Можно так же представить себе это в виде кредита, но конкретно в этом случае предоставляется в пользование оборудование, а не денежные средства.
          p
            | В первую очередь, это необходимо тем компаниям, которые нуждаются в обновлении оборудования и повышении производственных показателей.
          p
            | При оформлении лизинга обязательно заключается договор между обеими сторонами. В нем указаны все условия приобретения оборудования в лизинг: сроки, стоимость и иные. По окончанию срока договора возможна уже покупка самого оборудования.
          p
            | Лизинг очень удобен тем, что, если в настоящий момент у вас недостаточно средств на приобретение у нас оборудования, то вы сможете уже пользоваться им, выплачивая гораздо меньше денежных средств, при этом повышая производственные показатели и, соответственно, увеличивая прибыль собственной компании.
          p
            | Хотим обратить ваше внимание на то, что мы доставляем наше оборудование в любые регионы РФ. Но при этом она организуется вашим собственным автотранспортом или с помощью транспортной компании.
          p
            | Мы предоставляем вам гарантию на наше уникальное оборудование. Она составляет 1 год с момента эксплуатации.
          p
            | Обязательным условием лизинга у нас – это сервисное обслуживание. Выезд специалиста производится в течение 2 суток.
          p
            | Так же наша компания проводит монтаж, пуско-наладочные работы и обучение. Стоимость составляет всего 5% от стоимости оборудования.
          p
            | Нашими партнерами так же являются такие известные всем компании, как Сбербанк России и Siemens Finance.
          p
            | Мы с удовольствием предоставим вам такую услугу, как лизинг оборудования, в кратчайшие сроки! Обращайтесь! Мы будем рады помочь!
          app-btn(@click.native="showPopup()")
            | Оформить лизинг
        .leasing-picture
          img(src="~/static/images/rukas_150_2.png" alt="")
    transition(name="fade")
      modal-window(@modalShow="setPopupVisibility()" v-if="isModalVisible")
</template>

<script>
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'Leasing',
  components: { AppBtn, ModalWindow },
  data: () => ({
    isModalVisible: false,
    leasingFilesList: [
      {
        categoryName: 'Растворные узлы'
      },
      {
        fileName: 'Название файла'
      }
    ]
  }),
  methods: {
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    }
  }
}
</script>

<style lang="scss">
.leasing {
  position: relative;
  padding-bottom: 120px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 110px;

    @include media($width-container, 0) {
      gap: 80px / $width-container * 100vw;
    }

    @include media($width_xs, 0) {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $color-circles;

    &--first {
      right: -(150px / 2);
      top: 135px;
      width: 150px;
      height: 150px;

      @include media($width-container, 0) {
        right: -(150px / $width-container * 100vw / 2);
        top: 80px / $width-container * 100vw;
        width: 150px / $width-container * 100vw;
        height: 150px / $width-container * 100vw;
      }
    }

    &--second {
      right: 185px;
      top: 35px;
      width: 86px;
      height: 86px;

      @include media($width-container, 0) {
        right: 185px / $width-container * 100vw;
        top: 35px / $width-container * 100vw;
        width: 86px / $width-container * 100vw;
        height: 86px / $width-container * 100vw;
      }
    }
  }
}

.leasing-info {
  .btn {
    @include media($width_xs_s, 0) {
      max-width: 100%;
    }
  }
  &__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 40px;
  }

  &__item {
    padding: 10px 0;
    border-bottom: 4px solid $color-border;

    h5 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.leasing-picture {
  width: 608px;
  height: 462px;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  @include media($width-container, 0) {
    width: 608px / $width-container * 100vw;
    height: 462px / $width-container * 100vw;
  }

  @include media($width_xs, 0) {
    width: (608px / 1.2) / $width_xs * 100vw;
    height: (462px / 1.2) / $width_xs * 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.leasing-docs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  &__item {
    padding: 8px;
    padding-left: 0;
    white-space: nowrap;

    @include media($width_xs, 0) {
      white-space: normal;
    }

    @include media($width_xs_s, 0) {
      padding: 10px 0;
    }
  }

  &__link {
    font-weight: 500;
    text-transform: uppercase;

    @include media($width_xs_s, 0) {
      font-size: $fz-small;
    }
  }

  @include media($width_xs_s, 0) {
    margin-bottom: 20px;
  }
}
</style>
