<template lang="pug">
  div
    section.intro
      .intro__circle.intro__circle--first
      .intro__circle.intro__circle--second
      .intro__tomato.intro__tomato--first
        img(src="~/static/images/tomato_left_1.png" srcset="~/static/images/tomato_left_1@2x.png")
      .intro__tomato.intro__tomato--second
        img(src="~/static/images/tomato_left_2.png" srcset="~/static/images/tomato_left_2@2x.png")
      .intro__wrapper.container
        .intro__text
          h1.intro__title
            | Хотите повысить урожайность на 30% и сэкономить на закупке удобрений?
          h5.intro__description
            | Оборудовано уже более 90 собственных мини-заводов жидких удобрений. Более 1 000 000 га земли обрабатывается по нашей технологии
        .intro__machine
          .intro__machine-pic
            img(src="~/static/images/rukas_150_1.png")
            app-tooltip(positionX="15", positionY="10", text="Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную ").tooltip.tooltip-1
            app-tooltip(positionX="200", positionY="60", text="Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную ").tooltip.tooltip-2
            app-tooltip(positionX="300", positionY="120", text="Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную ").tooltip.tooltip-3
            app-tooltip(positionX="400", positionY="0", text="Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную ").tooltip.tooltip-4
            app-tooltip(positionX="500", positionY="40", text="Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную ").tooltip.tooltip-5
    section.technology
      .container
        h2.section-title
          | НАША ТЕХНОЛОГИЯ
        .technology__wrapper
          .technology-description
            p Группа компаний «НАГРО» разработала и внедряет недорогую и эффективную технологию предпосевного жидкого питания растений. Основана технология на внесении питательного раствора при влагосберегающей обработке почвы культиватором (на глубину 8…12 см) весной и подготовке почв для озимых осенью.
            p Жидкие комплексные удобрения производят по рецептуре на растворных комплексах «РУКАС», растворяют азофоску (нитроаммофоску 16:16:16 или диаммофоску 10:25:25) с добавлением серы (S) в виде сульфата аммония, в пропорции 2т азофоски, 200кг сульфата аммония, 30л микроэлементов, 1,5т воды.
            p Растворный узел «НАГРО» производит данное количество раствора за 1 час.
            .technology-description__footer
              app-btn(@click.native="showPopup()")
                | ЗАКАЗАТЬ ЗВОНОК
              nuxt-link(to="/about")
                | Подробнее о технологии
          .technology-video
            app-player(
              :sources="[{src: 'https://www.nagro.group/video/review.mp4'}]"
              :autoplay="false"
            )
    section.calculator
      .calculator__circle.calculator__circle--first
      .calculator__circle.calculator__circle--second
      .calculator__wheat
        img(src="~/static/images/wheat_1.png" srcset="~/static/images/wheat_1@2x.png").calculator__wheat-pic.calculator__wheat-pic--1
        img(src="~/static/images/wheat_2.png" srcset="~/static/images/wheat_2@2x.png").calculator__wheat-pic.calculator__wheat-pic--2
        img(src="~/static/images/wheat_3.png" srcset="~/static/images/wheat_3@2x.png").calculator__wheat-pic.calculator__wheat-pic--3
        img(src="~/static/images/wheat_big.png" srcset="~/static/images/wheat_big@2x.png").calculator__wheat-pic.calculator__wheat-pic--big
      .container
        h2.section-title
          | Рассчитайте свою выгоду при использовании нашей технологии
        form(@submit.prevent).calculator-form
          h5.calculator-form__title
            | Заполните ваши данные
          app-field(
            type="text"
            placeholder="Количество гектар земли"
          )
          app-field(
            type="number"
            placeholder="Количество тонн удобрения"
          )
          app-field(
            type="number"
            placeholder="Сумма, затраченная на удобрения"
          )
          app-btn
            | Рассчитать
    section.video-reviews
      .container
        h2.section-title
          | Видео отзывы наших клиентов
        app-slider(:items="3" className="triple" :video="true" :center="'center'" :itemsArray="reviews")
        // :itemsArray="carouselTmp"
    section.partners
      .container
        h2.section-title
          | Партнеры
        transition-group(
          name="fade"
          tag="ul"
          class="partners-list"
        )
          li.partners-list__item(v-if="item.showed" v-for="(item, index) in partners" :key="`partner_${index}`")
            img(:src="item.partner")
        //a(href="#" @click.prevent="showPartners($event)")
          | Полный список партнеров
      //li(v-for="(test, index) in allPromos" :key="index")
        | {{ test.title }}
        br
        | {{ test.description }}
    transition(name="fade")
      modal-window(@modalShow="setPopupVisibility()" v-if="isModalVisible")
</template>

<script>
// import gql from 'graphql-tag'

import AppTooltip from '~/components/AppUi/AppTooltip'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'
import AppField from '~/components/AppUi/AppField'
import AppSlider from '~/components/AppUi/AppSlider'
import AppPlayer from '~/components/AppUi/AppPlayer'

const ModalWindow = () => ({
  component: import('~/components/AppUi/AppPopup.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  // apollo: {
  //   allPromos: gql`
  //     {
  //       allPromos {
  //         title
  //         description
  //       }
  //     }
  //   `
  // },
  // layout: 'dev',
  components: {
    AppPlayer,
    AppField,
    AppBtn,
    AppTooltip,
    ModalWindow,
    AppPreloader,
    AppSlider
  },
  data: () => ({
    isModalVisible: false,
    partners: [
      {
        partner: require('~/static/images/partner_miratorg.jpg'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_acron.png'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_agroeko.jpg'),
        showed: true
      },
      {
        partner: require('~/static/images/partner_rusagro.jpg'),
        showed: true
      }
      // {
      //   partner: require('~/static/images/partner_agroeko.jpg'),
      //   showed: false
      // },
      // {
      //   partner: require('~/static/images/partner_acron.png'),
      //   showed: false
      // }
    ]
  }),
  computed: {
    reviews() {
      return this.$store.getters.G_REVIEWS
    }
  },
  beforeCreate() {
    this.$store.dispatch('A_GET_REVIEWS_DATA')
  },
  methods: {
    showPopup() {
      this.isModalVisible = true
    },
    setPopupVisibility(showed) {
      this.isModalVisible = showed
    },
    showPartners(event) {
      this.partners.map((item, index) => {
        if (!item.showed) item.showed = true
      })
      event.target.remove()
    }
  }
}
</script>

<style lang="scss">
section {
  padding: 60px 0;

  @include media($width_md, 0) {
    padding: 40px 0;
  }
}

/*intro*/
.intro {
  position: relative;
  min-height: calc(100vh - 80px);
  padding-top: 0;
  padding-bottom: 150px;
  overflow-x: hidden;

  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $color-circles;

    &--first {
      right: -(190px / 2);
      top: 15px;
      width: 170px;
      height: 170px;

      @include media($width-container, 0) {
        right: -((190px / $width-container * 100vw) / 2);
        top: 15px / $width-container * 100vw;
        width: 170px / $width-container * 100vw;
        height: 170px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: -(190px / 2);
        top: 15px;
        width: 170px;
        height: 170px;
      }
    }

    &--second {
      right: 50%;
      top: 60px;
      width: 135px;
      height: 135px;

      @include media($width-container, 0) {
        top: 60px / $width-container * 100vw;
        width: 135px / $width-container * 100vw;
        height: 135px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 63%;
        top: 50%;
        width: 135px;
        height: 135px;
      }

      @include media($width_xs, 0) {
        right: 60%;
        top: 55%;
      }

      @include media($width_xs_1, 0) {
        right: 10%;
        top: 40%;
      }
    }
  }

  &__tomato {
    position: absolute;

    img {
      max-width: 100%;
      height: auto;
    }

    &--first {
      width: 90px;
      height: 97px;
      left: 8px;
      top: 75%;

      @include media($width-container, 0) {
        width: 90px / $width-container * 100vw;
        height: 97px / $width-container * 100vw;
      }
    }

    &--second {
      width: 59px;
      height: 62px;
      left: -10px;
      top: 87%;

      @include media($width-container, 0) {
        width: 59px / $width-container * 100vw;
        height: 62px / $width-container * 100vw;
      }
    }

    @include media($width_xs_1, 0) {
      display: none;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 630px 634px;
    gap: 16px;
    padding-top: 225px;

    @include media($width-container, 0) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px / $width-container * 100vw;
      padding-top: 225px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      padding-top: 60px;
      grid-template-columns: none;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  &__text {
    padding-top: 40px;
    z-index: 1;

    @include media($width_md, 0) {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 40px;

    @include media($width-container, 0) {
      font-size: 40px / $width-container * 100vw;
      margin-bottom: 40px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      font-size: 42px;
      padding-right: 35px;
    }
  }

  &__description {
    max-width: 530px;

    @include media($width-container, 0) {
      font-size: 20px / $width-container * 100vw;
      max-width: 530px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      font-size: 20px;
      max-width: 530px;
    }
  }

  &__machine {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 634px;
      height: 634px;
      border-radius: 50%;
      border-width: 110px;
      border-style: solid;
      border-color: $color-circles;
      transform: translate(-50%, -50%);

      @include media($width-container, 0) {
        width: 634px / $width-container * 100vw;
        height: 634px / $width-container * 100vw;
        border-width: 110px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        left: auto;
        right: 0;
        transform: translate(0, -50%);
        width: calc(634px / 2);
        height: calc(634px / 2);
        border-width: calc(110px / 2);
      }
    }

    &-pic {
      position: relative;
      width: 645px;
      height: 360px;

      img {
        max-width: 100%;
        height: auto;
      }

      .tooltip {
        &-1 {
          left: 15px;
          top: 10px;

          @include media($width-container, 0) {
            left: 15px / $width-container * 100vw;
            top: 10px / $width-container * 100vw;
          }
        }

        &-2 {
          left: 200px;
          top: 60px;

          @include media($width-container, 0) {
            left: 200px / $width-container * 100vw;
            top: 60px / $width-container * 100vw;
          }
        }

        &-3 {
          left: 300px;
          top: 120px;

          @include media($width-container, 0) {
            left: 300px / $width-container * 100vw;
            top: 120px / $width-container * 100vw;
          }
        }

        &-4 {
          left: 400px;
          top: 0;

          @include media($width-container, 0) {
            left: 400px / $width-container * 100vw;
          }
        }

        &-5 {
          left: 500px;
          top: 40px;

          @include media($width-container, 0) {
            left: 500px / $width-container * 100vw;
            top: 40px / $width-container * 100vw;
          }
        }

        @include media($width_md, 0) {
          display: none;
        }
      }

      @include media($width-container, 0) {
        width: 630px / $width-container * 100vw;
        height: 360px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        margin-left: auto;
        width: calc(645px / 2);
        height: calc(360px / 2);
      }

      @include media($width_xs_1, 0) {
        margin-right: auto;
      }
    }

    @include media($width_xs_1, 0) {
      display: none;
    }
  }

  @include media($width_md, 0) {
    padding-bottom: 0;
  }

  @include media($width_xs, 0) {
    min-height: auto;
    height: auto;
    padding-bottom: 80px;
  }

  @include media($width_xs_1, 0) {
    padding-bottom: 60px;
  }
}
/* end intro*/

/*technology*/
.technology {
  padding-top: 0;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 535px 570px;
    gap: 95px;

    @include media($width-container, 0) {
      align-items: flex-start;
      grid-template-columns: 535px / $width-container * 100vw 570px / $width-container * 100vw;
      gap: 95px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include media($width_xs, 0) {
      display: flex;
      flex-flow: column-reverse nowrap;
      grid-template-columns: none;
    }
  }

  &-description {
    &__footer {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding-top: 4px;

      .btn {
        margin-right: 30px;
        max-width: 265px;

        @include media($width-container, 0) {
          margin-right: 30px / $width-container * 100vw;
          max-width: 265px / $width-container * 100vw;
        }

        @include media($width_md, 0) {
          margin-right: 0;
          max-width: 245px / $width_md * 100vw;
        }

        @include media($width_xs, 0) {
          max-width: 320px;
        }

        @include media($width_xs_s, 0) {
          max-width: 100%;
        }
      }

      a {
        white-space: nowrap;

        @include media($width_xs_s, 0) {
          margin-bottom: 22px;
        }
      }

      @include media($width_md, 0) {
        justify-content: space-between;
      }

      @include media($width_xs_s, 0) {
        flex-flow: column-reverse nowrap;
      }
    }
  }
}

.technology-video {
  width: 100%;
  height: 340px;

  @include media($width-container, 0) {
    height: 340px / $width-container * 100vw;
  }

  @include media($width_md, 0) {
    height: 340px / $width_md * 100vw;
  }

  @include media($width_xs, 0) {
    height: 450px;
    margin-bottom: 35px;
  }

  @include media($width_xs_s, 0) {
    height: 250px;
  }
}
/* end technology*/
/* end calculator*/
.calculator {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 220px;

  &__circle {
    position: absolute;
    background-color: $color-circles;
    border-radius: 50%;

    &--first {
      right: 375px;
      top: 280px;
      width: 140px;
      height: 140px;

      @include media($width-container, 0) {
        right: 375px / $width-container * 100vw;
        top: 280px / $width-container * 100vw;
        width: 140px / $width-container * 100vw;
        height: 140px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 275px;
        top: 450px;
        width: 110px;
        height: 110px;
      }
    }

    &--second {
      right: 143px;
      top: 200px;
      width: 80px;
      height: 80px;

      @include media($width-container, 0) {
        right: 143px / $width-container * 100vw;
        top: 200px / $width-container * 100vw;
        width: 80px / $width-container * 100vw;
        height: 80px / $width-container * 100vw;
      }

      @include media($width_md, 0) {
        right: 143px;
        top: 180px;
        width: 60px;
        height: 60px;
      }
    }

    @include media($width_xs_1, 0) {
      display: none;
    }
  }

  &__wheat {
    position: absolute;
    right: 0;
    top: calc(100% - 320px);
    height: 320px;
    width: 200px;

    &:before {
      content: '';
      position: absolute;
      right: -100px;
      top: 37px;
      width: 190px;
      height: 190px;
      border: 30px solid #ffd649;
      border-radius: 50%;

      @include media($width_xs_1, 0) {
        right: calc(-100px / 2);
        top: calc(37px / 2);
        width: calc(190px / 2);
        height: calc(190px / 2);
        border-width: 15px;
      }
    }

    &-pic {
      position: absolute;
      right: 0;
      top: 0;

      &--1 {
        right: 74px;
        top: 3px;
        width: 21px;
        height: 24px;

        @include media($width_xs_1, 0) {
          right: calc(74px / 2);
          top: calc(3px / 2);
          width: calc(21px / 2);
          height: calc(24px / 2);
        }
      }
      &--2 {
        right: 43px;
        top: -29px;
        width: 14px;
        height: 22px;

        @include media($width_xs_1, 0) {
          right: calc(43px / 2);
          top: calc(-29px / 2);
          width: calc(14px / 2);
          height: calc(22px / 2);
        }
      }
      &--3 {
        top: 8px;
        right: 18px;
        width: 24px;
        height: 29px;

        @include media($width_xs_1, 0) {
          top: calc(8px / 2);
          right: calc(18px / 2);
          width: calc(24px / 2);
          height: calc(29px / 2);
        }
      }
      &--big {
        right: -240px;
        height: 288px;
        width: 444px;

        @include media($width_xs_1, 0) {
          right: calc(-240px / 2);
          height: calc(288px / 2);
          width: calc(444px / 2);
        }
      }
    }

    @include media($width_xs_1, 0) {
      top: 27%;
      height: calc(320px / 2);
      width: calc(200px / 2);
    }
  }

  &-form {
    position: relative;
    z-index: 1;

    > .form-field {
      max-width: 500px;

      &:last-of-type {
        margin-bottom: 35px;
      }
    }

    &__title {
      margin-bottom: 40px;
    }
  }

  @include media($width_xs_1, 0) {
    padding-bottom: 60px;
  }
}
/* end calculator*/

/* video-reviews*/
.video-reviews {
  padding-top: 0;
  margin-top: -100px;

  @include media($width_xs_1, 0) {
    margin-top: 0;
    padding-top: 60px;
  }
}
/* video-reviews*/

/* partners*/
.partners {
  position: relative;
  padding-bottom: 120px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;

    img {
      max-width: 100%;
      height: auto;
    }

    @include media($width_xs_s, 0) {
      width: 90%;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
    }
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-template-columns: none;
  }
}
/* end partners*/
</style>
