<template>
  <section class="video-page">
    <div class="container">
      <h1 class="section-title">Видео</h1>
      <p class="video-page__description">
        Подписывайтесь на наш
        <a
          href="https://www.youtube.com/channel/UC6lyGXayoSg2W0IcdaWBkTA"
          target="_blank"
          >YouTube</a
        >
        канал чтобы не пропустить выход новых видео о нашем инновационном
        оборудовании для изготовления КАС, КАС32, ЖСУ, ЖКУ и не только.
      </p>
      <div class="video-category">
        <h2 class="video-category__title">Анимационные 3-D ролики</h2>
        <div class="video-category__wrapper">
          <client-only>
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="OxVkhby3uOs"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="cLlRtDIsm8Q"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="ezU3ngAEMsc"
            />
          </client-only>
        </div>
      </div>

      <div class="video-category">
        <h2 class="video-category__title">Инструкции</h2>
        <div class="video-category__wrapper">
          <client-only>
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="snN5brk3IVk"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="n3KtuP4OOWQ"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="TpFFUAsENMs"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="xmsPI94VKNU"
            />
          </client-only>
        </div>
      </div>

      <div class="video-category">
        <h2 class="video-category__title">Отзывы</h2>
        <div class="video-category__wrapper">
          <client-only>
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="0Pwkb0o05_M"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="_028YAj4-WY"
            />
            <youtube
              class="video-category__item"
              player-height="100%"
              player-width="100%"
              video-id="0cCJZLn-FdE"
            />
          </client-only>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Video'
}
</script>

<style lang="scss">
.video-page {
  padding-bottom: 120px;
}

.video-category {
  position: relative;
  margin-bottom: 75px;
  padding-bottom: 20px;

  &:after {
    bottom: -38px;
    left: 0;
    position: absolute;
    width: 100%;
    content: '';
    display: block;
    height: 6px;
    background-color: $color-accent;
    @include media($width_xs, 0) {
      bottom: -3px;
    }
  }

  @include media($width_xs, 0) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 30px;
    margin-bottom: 24px;

    @include media($width_xs, 0) {
      font-size: 24px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include media($width_xs, 0) {
      display: block;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 340px;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
    }

    iframe,
    object,
    embed {
      max-width: 100%;
      max-height: 100%;
    }

    @include media($width-container, 0) {
      height: 340px / $width-container * 100vw;
    }

    @include media($width_md, 0) {
      height: 340px / $width_md * 100vw;
    }

    @include media($width_xs, 0) {
      height: 450px;
      margin-bottom: 20px;
    }

    @include media($width_xs_s, 0) {
      height: 250px;
    }
  }
}
</style>
