<template lang="pug">
  section.instruction
    .container.instruction__wrapper
      a(
        href="#"
        @click.prevent="backToInstructions"
      ).instruction__back
        | Назад
      h1.instruction__title
        | Руководство по эксплуатации {{ instruction.name }}
      h3.section-title
        | {{ instruction.title }}
      .instruction__intro(v-html="instruction.intro")
      .instruction__description
        h4
          | {{ instruction.description.title }}
        p
          | {{ instruction.description.text }}
        ol
          li
            strong
              | {{ instruction.description.list[0] }}
            ol
              li(
                v-for="item in instruction.description.list"
                v-if="item !== instruction.description.list[0]"
              )
                | {{ item }}
        p
          | Таблица 1
        table
          tr
            td(v-for="item in instruction.description.tableRow1")
              | {{ item }}
          tr
            td(v-for="item in instruction.description.tableRow2")
              | {{ item }}
      .instruction__images
        .instruction-image
          img(:src="instruction.images.src_1" :alt="instruction.title")
        .instruction-image
          img(:src="instruction.images.src_2" :alt="instruction.title")
        p
          | {{ instruction.images.description }}
        ul
          li(v-for="item in instruction.images.list")
            | {{ item }}
      .instruction__work-principle
        h4
          | {{ instruction.workPrinciple.title }}
        p
          | {{ instruction.workPrinciple.text }}
        ul
          li(v-for="item in instruction.workPrinciple.list")
            | {{ item }}
        p
          | {{ instruction.workPrinciple.footer }}
      .instruction__before
        h4
          | {{ instruction.before.title }}
        p
          | {{ instruction.before.text }}
        ul
          li(v-for="item in instruction.before.list")
            | {{ item }}
      .instruction__modes
        h4
          | {{ instruction.mode.mode_1.title }}
        p
          | {{ instruction.mode.mode_1.text }}
        h4
          | {{ instruction.mode.mode_2.title }}
        p
          | {{ instruction.mode.mode_2.text }}
        cite
          | {{ instruction.mode.mode_2.alarm }}
        p
          | {{ instruction.mode.mode_2.prelist }}
        ul
          li(v-for="item in instruction.mode.mode_2.list")
            | {{ item }}
        p
          | {{ instruction.mode.mode_2.footer }}
        h4
          | {{ instruction.mode.mode_3.title }}
        p
          | {{ instruction.mode.mode_3.text }}
        h4
          | {{ instruction.mode.mode_4.title }}
        p
          | {{ instruction.mode.mode_4.text }}
        h4
          | {{ instruction.mode.mode_5.title }}
        p
          | {{ instruction.mode.mode_5.text }}
        ul
          li(v-for="item in instruction.mode.mode_5.list")
            | {{ item }}
        h4
          | {{ instruction.mode.mode_6.title }}
        p
          | {{ instruction.mode.mode_6.text }}
        cite
          | {{ instruction.mode.mode_6.alarm }}
      .instruction__requirements
        h4
          | {{ instruction.requirements_1.title }}
        p
          | {{ instruction.requirements_1.text }}
        div(v-html="instruction.requirements_2.html")
      .instruction__used
        h4
          | {{ instruction.used.title }}
        p
          | {{ instruction.used.text }}
      .instruction__montage
        h4
          | {{ instruction.montage.title }}
        p
          | {{ instruction.montage.text }}
      .instruction__storage
        h4
          | {{ instruction.storage.title }}
        p
          | {{ instruction.storage.text }}
      .instruction__warranty
        h4
          | {{ instruction.warranty.title }}
        p
          | {{ instruction.warranty.text }}
      .instruction__util
        h4
          | {{ instruction.util.title }}
        p
          | {{ instruction.util.text }}
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'InstructionPage',
  async asyncData({ store, params, data }) {
    await store.dispatch(
      'instruction/A_GET_INSTRUCTION_DATA_BY_NAME',
      params.name
    )
  },
  computed: {
    ...mapGetters({
      instruction: 'instruction/G_INSTRUCTION'
    })
  },
  methods: {
    backToInstructions() {
      this.$router.push(`/instructions/`)
    }
  }
}
</script>

<style lang="scss">
.instruction {
  position: relative;
  padding-bottom: 120px;
  padding-top: 20px;

  &__back {
    display: inline-block;
    margin-bottom: 32px;
  }

  &__wrapper {
    max-width: 980px;

    h4 {
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    cite {
      display: block;
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    ul,
    ol {
      margin-bottom: 24px;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 24px;
    }

    td {
      padding: 5px;
      border: 1px solid #000;
    }

    ol {
      padding-left: 15px;

      li {
        margin-bottom: 5px;
      }
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        &::before {
          content: '-';
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    p {
      width: 100%;
    }

    ul {
      width: 100%;
    }

    @include media($width_xs, 0) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}

.instruction-image {
  width: 45%;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  @include media($width_xs, 0) {
    width: 100%;
    margin-bottom: 24px;
  }
}
</style>
