<template>
  <modal
    name="password-recovery"
    transition="pop-out"
    :width="400"
    :height="'auto'"
    :classes="['password-recovery']"
    :adaptive="true"
  >
    <validation-observer
      ref="loginObserver"
      tag="form"
      class="sign-in__form"
      @submit.prevent="send()"
    >
      <div class="popup-close" @click="$modal.hide('sign-in')">
        <svg-icon name="icon-close"></svg-icon>
      </div>

      <h5 class="popup-title">Восстановить пароль</h5>

      <app-field
        v-model="emailRecovery"
        :validation="{ required: true }"
        center
        type="email"
        name="email"
        placeholder="Email"
      />

      <app-btn type="submit" class="login__submit">
        Восстановление пароля
      </app-btn>
    </validation-observer>
  </modal>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppField from '~/components/AppUi/AppField'

export default {
  name: 'PasswordRecover',
  components: {
    AppBtn,
    AppField
  },
  data: () => ({
    emailRecovery: '',
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 4000
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      sendMail: 'mail/A_RECOVERY_PASSWD'
    }),
    async send() {
      try {
        await this.sendMail(this.emailRecovery)
        this.$modal.hide('password-recovery')
        this.$toast.success(
          'Пароль и логин отправлены на указанный email',
          'OK',
          this.notificationSystem.options.success
        )
      } catch (e) {
        const eMessage = e.response.data.message

        this.$toast.error(
          eMessage,
          'Ошибка',
          this.notificationSystem.options.error
        )
        console.log(e)
      }
    }
  }
}
</script>

<style lang="scss">
.password-recovery {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 0;

  &__sign-up {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 18px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__footer {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .form-field-wrapper {
    width: 100%;
  }

  .el-dialog {
    max-width: 500px;
  }
}
</style>
