<template>
  <modal
    name="sign-up"
    transition="pop-out"
    :width="400"
    :height="'auto'"
    :classes="['sign-up']"
  >
    <validation-observer
      ref="signUpForm"
      tag="form"
      class="sign-up__form"
      @submit.prevent="onLogin()"
    >
      <div class="popup-close" @click="$modal.hide('sign-up')">
        <svg-icon name="icon-close"></svg-icon>
      </div>

      <h5 class="popup-title">Зарегистрироваться</h5>
      <p class="popup-subtitle">
        Авторизованные пользователи имеют доступ ко всем ресурсам
      </p>

      <app-field
        v-model="user.name"
        :validation="{ required: true }"
        center
        type="text"
        placeholder="Имя"
      />

      <app-field
        v-model="user.login"
        :validation="{ required: true }"
        center
        type="tel"
        name="phone"
        placeholder="Телефон"
      />

      <app-field
        v-model="user.email"
        :validation="{ required: true }"
        center
        type="email"
        name="email"
        placeholder="Email"
      />

      <app-field
        v-model="user.password"
        :validation="{ required: true, min: 6 }"
        type="password"
        center
        placeholder="Пароль"
      />

      <footer class="sign-up__footer">
        <div class="sign-up__sign-in">
          Уже есть аккаунт? <br />
          <a href="#" @click.prevent="openSignIn()">Войти</a>
        </div>
        <app-btn type="submit" class="login__submit"
          >Зарегистрироваться</app-btn
        >
      </footer>
    </validation-observer>
  </modal>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppField from '~/components/AppUi/AppField'

export default {
  name: 'SignUp',
  components: {
    AppBtn,
    AppField
  },
  data: () => ({
    user: {
      name: '',
      login: '',
      password: '',
      email: ''
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END',
      createUser: 'auth/A_CREATE_USER',
      signIn: 'auth/A_LOGIN',
      sendMail: 'mail/A_SIGN_UP'
    }),
    openSignIn() {
      this.$modal.hide('sign-up')
      setTimeout(() => {
        this.$modal.show('sign-in')
      }, 500)
    },
    async onLogin() {
      const loginValid = await this.$refs.signUpForm.validate()

      if (loginValid) {
        this.preloader({ load: true })

        try {
          const formData = {
            login: this.user.login,
            password: this.user.password,
            name: this.user.name,
            email: this.user.email
          }

          const contactData = {
            name: this.user.name || 'Не указано',
            phone: this.user.login || 'Не указано',
            email: this.user.email || 'Не указано',
            formName: 'Регистрация нового пользователя'
          }

          await this.createUser(formData).then(({ data }) => {
            const formData = {
              login: data.login,
              password: data.password
            }

            setTimeout(() => {
              this.signIn(formData)
            }, 500)

            this.sendMail(data.login)

            this.$modal.hide('sign-up')
          })

          await this.$axios.$post('api/contact', contactData).then(() => {
            // eslint-disable-next-line no-undef
            VK.Retargeting.Event('lead')
            // eslint-disable-next-line no-undef
            fbq('track', 'Lead')
            // eslint-disable-next-line
            ym('45578973', 'reachGoal', 'Регистрация пользователя')
            // eslint-disable-next-line
            ym('45578973', 'reachGoal', 'form1')
            // eslint-disable-next-line
            dataLayer.push({
              event: 'event-to-ga',
              eventCategory: 'form',
              eventAction: 'form'
            })
            // eslint-disable-next-line
            dataLayer.push({
              event: 'event-to-ga',
              eventCategory: 'Регистрация пользователя',
              eventAction: 'Регистрация пользователя'
            })
          })

          this.$toast.success(
            `Вы успешно зарегестрированны!`,
            formData.name,
            this.notificationSystem.options.success
          )

          this.user.name = this.user.login = this.user.email = this.user.password =
            ''

          requestAnimationFrame(() => {
            this.$refs.signUpForm.reset()
          })

          this.preloader({ load: false })
        } catch (e) {
          this.preloader({ load: false })
          const eMessage = e.response.data.message

          this.$toast.error(
            eMessage,
            'Ошибка',
            this.notificationSystem.options.error
          )
        }
      }
    }
  }
}
</script>

<style lang="scss">
.sign-up {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 0;

  &__sign-in {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 18px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__footer {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .form-field-wrapper {
    width: 100%;
  }

  .el-dialog {
    max-width: 500px;
  }
}
</style>
