<template>
  <modal
    name="sign-in"
    transition="pop-out"
    :width="400"
    :height="'auto'"
    :classes="['sign-in']"
    :adaptive="true"
  >
    <validation-observer
      ref="loginObserver"
      tag="form"
      class="sign-in__form"
      @submit.prevent="onLogin()"
    >
      <div class="popup-close" @click="$modal.hide('sign-in')">
        <svg-icon name="icon-close"></svg-icon>
      </div>

      <h5 class="popup-title">Войти</h5>

      <app-field
        v-model="user.login"
        :validation="{ required: true }"
        center
        type="tel"
        placeholder="Телефон"
      />

      <app-field
        v-model="user.password"
        :validation="{ required: true, min: 6 }"
        type="password"
        center
        placeholder="Пароль"
      />

      <footer class="sign-in__footer">
        <div class="sign-in__sign-up">
          Нет аккаунта? <br />
          <a href="#" @click.prevent="openSignUp()">Зарегистрироваться</a>
        </div>
        <app-btn type="submit" class="login__submit">Войти</app-btn>
        <a
          href="#"
          class="sign-in__recovery"
          @click.prevent="openPasswordRecovery()"
        >
          Восстановление пароля
        </a>
      </footer>
    </validation-observer>
  </modal>
</template>

<script>
import { mapActions } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppField from '~/components/AppUi/AppField'

export default {
  name: 'SignIn',
  components: {
    AppBtn,
    AppField
  },
  data: () => ({
    user: {
      login: '',
      password: ''
    },
    notificationSystem: {
      options: {
        error: { position: 'topRight' },
        success: {
          position: 'topRight',
          timeout: 2000
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      preloader: 'A_PRELOADER_END',
      signIn: 'auth/A_LOGIN'
    }),
    openSignUp() {
      this.$modal.hide('sign-in')
      setTimeout(() => {
        this.$modal.show('sign-up')
      }, 500)
    },
    openPasswordRecovery() {
      this.$modal.hide('sign-in')
      setTimeout(() => {
        this.$modal.show('password-recovery')
      }, 500)
    },
    async onLogin() {
      const loginValid = await this.$refs.loginObserver.validate()
      if (loginValid) {
        this.preloader({ load: true })

        try {
          const formData = {
            login: this.user.login,
            password: this.user.password
          }

          await this.signIn(formData).then(() => {
            this.preloader({ load: false })
            this.$modal.hide('sign-in')
            this.$toast.success(
              `Вы авторизованны`,
              'OK',
              this.notificationSystem.options.success
            )
          })
        } catch (e) {
          this.preloader({ load: false })
          const eMessage = e.response.data.message

          this.$toast.error(
            eMessage,
            'Ошибка',
            this.notificationSystem.options.error
          )
          console.log(e)
        }
      }
    }
  }
}
</script>

<style lang="scss">
.sign-in {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 25px 0;

  &__sign-up {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 18px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__footer {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }

  &__recovery {
    display: inline-block;
    padding-top: 25px;
    margin: 0 auto;
  }

  .form-field-wrapper {
    width: 100%;
  }

  .el-dialog {
    max-width: 500px;
  }
}
</style>
