<template lang="pug">
  nuxt-link(
    :disabled="disabled"
    v-if="isRouter"
    :to="routerPath"
  ).btn.btn--router
    slot
  a(
    v-else-if="linkFile"
    :href="linkFile"
    target="_blank"
  ).btn
    slot
  button(
    v-else
    :type="type"
    :disabled="disabled"
    ref="btn"
  ).btn
    slot
</template>

<script>
export default {
  name: 'AppBtn',
  props: {
    router: {
      type: String,
      default: ''
    },
    padding: {
      type: String,
      default: ''
    },
    mode: {
      type: [Boolean, String],
      default: false
    },
    type: {
      type: String,
      default: 'button'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    linkFile: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      toolTipShowed: false
    }
  },
  computed: {
    routerPath() {
      return this.router
    },
    isRouter() {
      return this.router.length !== 0
    }
  }
}
</script>

<style lang="scss">
.btn {
  display: block;
  width: 100%;
  max-width: 320px;
  border-radius: $brs;
  padding: 15px 10px;
  background-color: $color-primary;
  color: $color-white;
  font-size: $fz-small;
  text-transform: uppercase;
  font-weight: 500;
  border-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      background-color: $color-accent;
      transition: background-color 0.3s;
    }
  }
}

.price-btn {
  margin: 0 auto;
  max-width: 35%;
  background-color: $color-accent !important;

  &--left {
    margin: 0;
    max-width: 320px;
    margin-top: 20px;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      background-color: $color-primary !important;
    }
  }

  @include media($width_xs, 0) {
    max-width: 100%;
  }
}
</style>
