<template lang="pug">
  section.equipments-nav
    .container
      header.equipments-nav__header(v-if="title")
        h1.equipments-nav__title(
          v-if="title"
        )
          | {{ title }}
        h5(
          v-if="subtitle"
        )
          | {{ subtitle }}
      .equipments-nav__wrap
        .equipments-nav-item(
          v-for="(item, index) in categoryLinks"
          :key='index'
          @click="openEquipmentCategory(item.type)"
          :style="`background-image: url(/images/equipments-categorys/cat_${item.type}.jpg)`"
        )
          .equipments-nav-item__overlay
            h5.equipments-nav-item__name {{ item.name }}
      app-btn(
        v-if="isAuth"
        linkFile="documents/price_01_02_21.pdf"
      ).price-btn
        | Скачать прайс-лист
      app-btn(
        v-else
        @click.native="showPopup()"
      ).price-btn
        | Скачать прайс-лист

    transition(name="fade")
      app-popup-price(
        @modalShow="setPopupVisibility()"
        v-if="isModalVisible"
        :formName="'Оставьте ваши контактные данные чтобы скачать прайс-лист'"
        :btnName="'Скачать прайс-лист'"
        :reachGoal="'PriceLinkClicks'"
      )
</template>

<script>
import { mapGetters } from 'vuex'
import AppBtn from '~/components/AppUi/AppBtn'
import AppPreloader from '~/components/AppUi/AppPreloader'

const AppPopupPrice = () => ({
  component: import('~/components/AppUi/AppPopupPrice.vue'),
  loading: AppPreloader,
  timeout: 3000
})

export default {
  name: 'AppCatalogEquipments',
  components: {
    AppBtn,
    AppPopupPrice
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    isModalVisible: false,
    categoryLinks: [
      {
        name: 'Автоматические растворные узлы КАС 32',
        type: 'rukas_1'
      },
      {
        name: 'Автоматические растворные узлы КАС 32, ЖКУ, ЖСУ',
        type: 'rukas_2'
      },
      {
        name: 'Электронные цифровые дозаторы СЗР',
        type: 'szr'
      },
      {
        name: 'Комплекты навесного оборудования',
        type: 'hinged'
      },
      {
        name:
          'Инновационные кассеты с волнорезами для перевозки воды, кас и других жидкостей',
        type: 'systems'
      }
    ]
  }),
  computed: {
    ...mapGetters({
      isAuth: 'auth/G_AUTHENTICATED'
    })
  },
  methods: {
    openEquipmentCategory(category) {
      this.$router.push(`/equipments/${category}`)
    },
    showPopup() {
      this.$modal.show('sign-up')
    },
    setPopupVisibility(showed) {
      if (this.isModalVisible) {
        this.isModalVisible = showed
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.equipments-nav {
  position: relative;

  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__header {
    padding-bottom: 40px;
  }
}

.equipments-nav-item {
  position: relative;
  width: 31.8%;
  height: 250px;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    width: 49%;
    height: 320px;

    @include media($width_xs, 0) {
      width: 48%;
    }

    @include media($width_xs_s, 0) {
      width: 100%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: transform 0.3s;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    background-size: 1px 320px;
    background-image: linear-gradient(to bottom, transparent, #292929);
    transition: background 0.6s ease-out, align-items 0.3s;
  }

  &__name {
    display: flex;
    align-items: center;
    color: $color-white;
    transition: transform 0.3s;
    text-align: center;
    height: 105px;
    overflow: hidden;
    text-transform: uppercase;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      &::before {
        transform: scale(1.2);
        transition: transform 0.3s;
      }

      &:nth-of-type(1),
      &:nth-of-type(2) {
        .equipments-nav-item__overlay {
          background-position: 640px;
          transition: background-position 0.6s ease-out;
        }

        .equipments-nav-item__name {
          transform: translateY(calc(-145px / 2));
          transition: transform 0.3s;
        }
      }

      .equipments-nav-item__overlay {
        background-position: 400px;
        transition: background-position 0.6s ease-out;
      }

      .equipments-nav-item__name {
        transform: translateY(calc(-105px / 2));
        transition: transform 0.3s;
      }
    }
  }

  @include media($width_xs, 0) {
    width: 48%;
  }

  @include media($width_xs_s, 0) {
    width: 100%;
  }
}
</style>
