<template>
  <div class="header-nav">
    <el-menu
      :router="true"
      :default-active="activeLink"
      class="el-menu-demo header-nav__list"
      mode="horizontal"
      @select="handleSelect"
    >
      <el-menu-item
        v-for="(item, index) in navList"
        :key="index"
        :index="item.path"
        class="header-nav__link"
        @clik="handlerClick()"
      >
        {{ item.name }}
      </el-menu-item>

      <el-submenu
        v-if="$device.isDesktop"
        popper-class="header-nav__dropdown"
        index="2"
      >
        <template slot="title">Ещё</template>
        <el-menu-item
          v-for="(item, index) in G_NAV_LIST_OTHERS"
          :key="index"
          :index="item.path"
          class="header-nav__link"
        >
          {{ item.name }}
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AppHeaderNav',
  data: () => ({
    activeLink: null
  }),
  computed: {
    ...mapGetters(['G_NAV_LIST', 'G_NAV_LIST_OTHERS', 'G_NAV_LIST_MOB']),
    navList() {
      return this.$device.isDesktop ? this.G_NAV_LIST : this.G_NAV_LIST_MOB
    }
  },
  watch: {
    $route(to, from) {
      this.activeLink = to.path
    }
  },

  mounted() {
    this.activeLink = this.$route.path
  },

  methods: {
    handleSelect(key, keyPath) {
      this.$emit('clicked')
    }
  }
}
</script>

<style lang="scss">
.header-nav {
  &__list {
    &.el-menu-demo {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      padding: 0;
      margin: 0;
      list-style: none;
      border: none;

      @include media($width_md, 0) {
        flex-flow: column nowrap;
      }
    }

    @include media($width_md, 0) {
      width: 100%;
      height: 100%;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }

  &__link.el-menu-item,
  .el-menu--horizontal > .el-submenu .el-submenu__title {
    position: relative;
    font-size: $fz-small;
    font-weight: 500;
    color: $color-primary;
    height: auto;
    line-height: 18px;
    padding: 0;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $color-accent;
      transition-property: width, left;
      transition-duration: 0.3s;
    }

    &.is-active {
      border-color: transparent;
      color: $color-accent;
      transition: color 0.3s;

      &::after {
        left: 0;
        width: 100%;
        transition-property: width, left;
        transition-duration: 0.3s;
      }
    }

    @include media($width-container, 0) {
      margin: 0 15px / $width-container * 100vw;
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        &:after {
          left: 0;
          width: 100%;
          transition-property: width, left;
          transition-duration: 0.3s;
        }
      }
    }

    @include media($width_md, 0) {
      font-size: $fz-large;
      margin: 15px 0;
    }
  }

  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border-color: transparent;

    &:after {
      width: calc(100% - 20px);
      left: 0;
    }
  }

  .el-menu--horizontal > .el-submenu .el-submenu__title {
    @include media($width_md, 1) {
      &:hover,
      &:focus {
        &:after {
          width: calc(100% - 20px);
        }
      }
    }
  }

  &__dropdown {
    .el-menu--popup {
      .el-menu-item {
        color: $color-black;
        padding: 0;
        margin-bottom: 3px;
        width: fit-content;
      }
    }
  }

  @include media($width_md, 0) {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: $color-white;

    &.isHide {
      right: -50%;
      top: -50%;
      width: 0;
      height: 0;
      border-bottom-right-radius: 50%;
      transition: right 0.6s, top 0.6s, width 0.6s, height 0.6s, opacity 0.8s,
        border-bottom-right-radius 1.5s, visibility 3s;
    }

    &.isShow {
      right: 0;
      top: 0;
      border-bottom-right-radius: 0;
      width: 100vw;
      height: 100vh;
      opacity: 1;
      visibility: visible;
      background-color: $color-white;
      transition: right 1s, top 1s, width 1s, height 1s, opacity 0.5s,
        border-bottom-right-radius 2s, visibility 0.1s;
    }
  }
}
</style>
