<template lang="pug">
  .popup-wrapper
    .popup-container
      .popup-close(@click="closePopup()")
        svg-icon(name="icon-close")
      h5.popup-title
        | {{ formName }}
      app-form(
        :formRef="formRef || 'promoForm'"
        :formName="formName"
        :formBtnText="btnName"
        :reachGoalName="reachGoal"
        :formFields="['name', 'phone', 'email']"
        :equipmentName="equipmentName"
      ).intro__form
</template>

<script>
import AppForm from '~/components/AppUi/AppForm'
import AppField from '~/components/AppUi/AppField'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'AppPopup',
  components: { AppBtn, AppField, AppForm },
  props: {
    formName: {
      type: String,
      default: ''
    },
    btnName: {
      type: String,
      default: 'Заказать звонок'
    },
    type: {
      type: String,
      default: ''
    },
    reachGoal: {
      type: String,
      default: ''
    },
    formRef: {
      type: String,
      default: ''
    },
    equipmentName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      focusedElement: '',
      name: '',
      email: '',
      phone: '',
      submitting: false,
      isSubmitted: false,
      noValid: true,
      isSend: false
    }
  },
  methods: {
    closePopup() {
      this.$emit('modalShow', false)
    }
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
