<template lang="pug">
  .popup-wrapper.popup-wrapper--equipment
    .popup-container
      .popup-close(@click="closePopup()")
        svg-icon(name="icon-close")
      .equipment__wrapper
        .equipment__picture
          img(:src="equipment.imageSrc" :alt="equipment.title")
        article.equipment__description
          div(v-html="equipment.content")
          footer(v-html="equipment.footer")
      footer.equipment-popup-footer
        app-form(
          formRef="promoEquipmentForm"
          formName="Лендинг сзр попап с оборудованием"
          formBtnText="Заказать консультацию"
          reachGoalName="consult_lend_oborud"
          :formFields="['name', 'email']"
        )
</template>

<script>
import { mapGetters } from 'vuex'
import AppForm from '~/components/AppUi/AppForm'
// import AppField from '~/components/AppUi/AppField'
// import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'AppPopupEquipment',
  components: { AppForm },
  props: {
    formName: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    nameEquip: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      focusedElement: '',
      name: '',
      email: '',
      phone: '',
      company: '',
      submitting: false,
      isSubmitted: false,
      noValid: true,
      isSend: false
    }
  },
  computed: {
    ...mapGetters({
      equipment: 'equipments/G_EQUIPMENT_ONCE'
    })
  },
  methods: {
    closePopup() {
      this.$emit('modalShow', false)
    }
    // async submitForm() {
    //   try {
    //     await this.$axios.$post('api/contact', {
    //       email: this.email,
    //       phone: this.phone,
    //       formName: this.formName
    //     })
    //     this.isSend = true
    //   } catch (e) {
    //     // eslint-disable-next-line no-console
    //     console.error(e)
    //   }
    // }
  }
}
</script>

<style lang="scss">
.equipment-popup-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 70px;

  > span {
    display: block;
    width: 100%;
  }

  .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-field-wrapper {
    width: 30%;
  }

  .form-field {
    margin-bottom: 0;
  }

  .btn {
    width: 30%;
    margin-top: 0;
  }
}

.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-primary, 0.41);

  &--calc {
    overflow: auto;
    align-items: flex-start;
    padding-top: 10px;

    .popup-container {
      max-width: 860px;
    }

    .popup-title {
      margin-bottom: 30px;
    }
  }

  &--equipment {
    overflow: hidden;
    align-items: flex-start;

    .popup-container {
      overflow: auto;
      max-width: 1024px;
      max-height: 100vh;
    }

    .equipment {
      &__list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 22px;
      }

      &__wrapper {
        display: grid;
        gap: 60px;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);

        @include media($width_xs, 0) {
          gap: 20px / $width_xs * 100vw;
          padding: 20px / $width_xs * 100vw 0;
          grid-template-columns: repeat(1, 1fr);
        }

        @include media($width_xs_s, 0) {
          padding: 30px 0;
        }
      }

      &__picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 380px;

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 380px;
          height: 380px;
          border-width: 60px;
          border-radius: 50%;
          border-color: $color-circles;
          border-style: solid;
          transform: translate(-50%, -50%);

          @include media($width-container, 0) {
            width: 380px / $width-container * 100vw;
            height: 380px / $width-container * 100vw;
            border-width: 60px / $width-container * 100vw;
          }

          @include media($width_xs, 0) {
            width: 380px / $width_xs * 100vw;
            height: 380px / $width_xs * 100vw;
            border-width: 60px / $width_xs * 100vw;
          }
        }

        img {
          position: relative;
          z-index: 1;
          max-width: 100%;
          height: auto;
        }

        @include media($width-container, 0) {
          min-height: 380px / $width-container * 100vw;
        }

        @include media($width_xs, 0) {
          margin: auto;
          max-width: 380px / $width_xs * 100vw;
          min-height: 380px / $width_xs * 100vw;
        }
      }

      &__description {
        display: flex;
        flex-flow: column nowrap;

        > .btn {
          @include media($width_xs_s, 0) {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.popup-container {
  position: relative;
  z-index: 201;
  width: 100%;
  max-width: 500px;
  padding: 64px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: $color-white;

  .form-field {
    max-width: 100%;
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 64px 40px / $width_xs_s * 100vw;

    > span {
      width: 100%;
    }

    .form-field {
      max-width: 100%;
    }

    .btn {
      max-width: 100%;
    }
  }
}

.popup-thx {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: $color-white;
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.popup-title {
  font-weight: 500;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: $color-primary;

  svg {
    transition-property: fill, transform;
    transition-duration: 0.2s;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
        transition-property: fill, transform;
        transition-duration: 0.2s;
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
