<template lang="pug">
  .player
    .video-player-box(
      ref="playerBox"
      id="player"
      :playsinline="playsinline"
      @play="onPlayerPlay($event)"
      @pause="onPlayerPause($event)"
      @ended="onPlayerEnded($event)"
      @loadeddata="onPlayerLoadeddata($event)"
      @waiting="onPlayerWaiting($event)"
      @playing="onPlayerPlaying($event)"
      @timeupdate="onPlayerTimeupdate($event)"
      @canplay="onPlayerCanplay($event)"
      @canplaythrough="onPlayerCanplaythrough($event)"
      @ready="playerReadied"
      @statechanged="playerStateChanged($event)"
      v-video-player:myVideoPlayer="playerOptions"
    )
</template>

<script>
export default {
  name: 'AppPlayer',
  props: {
    sources: {
      type: [Array, Object],
      default: () => [
        {
          type: 'video/mp4',
          src: ''
        }
      ]
    },
    poster: {
      type: String,
      default: ''
    },
    autoplay: {
      type: Boolean,
      default: true
    },
    controls: {
      type: Boolean,
      default: false
    },
    animationPromo: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    playerPlayOnce: true,
    playsinline: true,
    playerOptions: {
      muted: false,
      language: 'ru',
      playbackRates: [0.7, 1.0, 1.5, 2.0]
    }
  }),
  computed: {
    player() {
      return this.$refs.playerBox.player
    }
  },
  beforeMount() {
    this.getSrcVideo(this.sources, this.poster, this.autoplay, this.controls)
  },
  mounted() {
    // this.player.play()
  },
  methods: {
    getSrcVideo(src, poster, autoplay, controls) {
      this.$set(this.playerOptions, 'sources', src)
      this.$set(this.playerOptions, 'poster', poster)
      this.$set(this.playerOptions, 'autoplay', autoplay)
      this.$set(this.playerOptions, 'controls', controls)
    },
    onPlayerPlay(player) {
      // console.log('player play!', player)
      if (this.animationPromo && this.playerPlayOnce) {
        this.$parent.$options.methods.animationPromoPlay()
        this.playerPlayOnce = false
      }
    },
    onPlayerPause(player) {
      // console.log('player pause!', player)
    },
    onPlayerEnded(player) {
      // console.log('player ended!', player)
    },
    onPlayerLoadeddata(player) {
      // console.log('player Loadeddata!', player)
    },
    onPlayerWaiting(player) {
      // console.log('player Waiting!', player)
    },
    onPlayerPlaying(player) {
      // console.log('player Playing!', player)
    },
    onPlayerTimeupdate(player) {
      // console.log('player Timeupdate!', player.currentTime())
    },
    onPlayerCanplay(player) {
      // console.log('player Canplay!', player)
    },
    onPlayerCanplaythrough(player) {
      // console.log('player Canplaythrough!', player)
    },
    // or listen state event
    playerStateChanged(playerCurrentState) {
      // console.log('player current update state', playerCurrentState)
    },
    // player is ready
    playerReadied(player) {
      // console.log('example 01: the player is readied', player)
    }
  }
}
</script>

<style lang="scss">
.player {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.video-player-box {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

  .vjs_video_3-dimensions,
  .video-js {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  .vjs-poster {
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, 0.6);
    }
  }

  .video-js .vjs-tech {
    position: relative;
  }

  .vjs-big-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid $color-white;
    transform: translate(-50%, -50%);

    .vjs-icon-placeholder {
      font-size: 84px;

      &:before {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
</style>
