<template lang="pug">
  .popup-wrapper.popup-wrapper--calc
    //- consult
    validation-observer(v-slot="{ invalid, passes }")
      form.popup-container(@submit.prevent="passes(submitForm('Калькулятор расчета выгоды'))")
        .popup-close(@click="closePopup()")
          svg-icon(name="icon-close")
        transition-group(
          ref="thxPopup"
          v-show="isSend"
          name="fade"
          tag="div"
          class="popup-thx"
        )
          h2(:key="'thxPopup'")
            | Спасибо!
          h5(:key="'thxPopup1'")
            | Ваша заявка принята, наш менеджер скоро вам перезвонит
        h5.popup-title
          | Вы можете начать экономить от {{ calcDifference }}р на закупках удобрения для Вашего хозяйства!
        .popup-calculation
          .popup-calculation__field
            span Сейчас вы затрачиваете на гектар удобрения &nbsp;
            strong {{ calcResult }}
              svg-icon(name="icon-ruble").icon-ruble
          .popup-calculation__field
            span Стоимость на обработку гектара ЖСУ &nbsp;
            strong {{ calcResultNagro }}
              svg-icon(name="icon-ruble").icon-ruble
          .popup-calculation__field
            span Экономия в рублях &nbsp;
            strong {{ calcDifference }}
              svg-icon(name="icon-ruble").icon-ruble
        //- .popup-calculation__field
        //-   span Экономия в процентах
        //-   span {{ calcDifferencePrecent }}
        //-   svg-icon(name="icon-ruble").icon-ruble
        h5.popup-title
          | Хотите узнать подробнее как? Оставьте заявку и наш специалист проконсультирует Вас бесплатно!
        app-form(
          formRef="calcForm"
          formName="Калькулятор расчета выгоды"
          formBtnText="Заказать консультацию"
          reachGoalName="consult"
          :formFields="['name', 'phone', 'email']"
        ).calc__form
</template>

<script>
import AppForm from '~/components/AppUi/AppForm'
import AppBtn from '~/components/AppUi/AppBtn'

export default {
  name: 'AppPopupCalc',
  components: { AppBtn, AppForm },
  props: {
    formName: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    calcResult: {
      type: Number,
      default: 0
    },
    calcResultNagro: {
      type: Number,
      default: 0
    },
    calcDifference: {
      type: Number,
      default: 0
    },
    calcDifferencePrecent: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      focusedElement: '',
      submitting: false,
      isSubmitted: false,
      noValid: true,
      isSend: false
    }
  },
  methods: {
    closePopup() {
      this.$emit('modalShow', false)
    }
  }
}
</script>

<style lang="scss">
.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-primary, 0.41);

  &--calc.popup-wrapper {
    overflow: auto;
    align-items: flex-start;
    padding-top: 10px;

    .popup-container {
      max-width: 860px;
    }

    .popup-title {
      margin-bottom: 30px;
    }
  }
}

.popup-calculation {
  padding: 25px 20px;
  margin-bottom: 50px;
  background-color: #fafafa;

  &__field {
    display: flex;
    justify-content: space-between;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }

    strong {
      font-size: 20px;
      font-weight: 500;
    }

    .icon-ruble {
      width: 13px;
      height: 13px;
    }
  }
}

.popup-container {
  position: relative;
  z-index: 201;
  width: 100%;
  max-width: 500px;
  padding: 64px 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 1px solid #979797;
  background-color: $color-white;

  .form-field {
    max-width: 100%;
  }

  @include media($width_xs_s, 0) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 64px 40px / $width_xs_s * 100vw;

    > span {
      width: 100%;
    }

    .form-field {
      max-width: 100%;
    }

    .btn {
      max-width: 100%;
    }
  }
}

.popup-thx {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: $color-white;
  z-index: 10;
  text-align: center;
  padding: 15px;
}

.popup-title {
  font-weight: 500;
}

.popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 11;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: $color-primary;

  svg {
    transition-property: fill, transform;
    transition-duration: 0.2s;
  }

  @include media($width_md, 1) {
    &:hover,
    &:focus {
      svg {
        fill: $color-accent;
        transform: scale(1.1);
        transition-property: fill, transform;
        transition-duration: 0.2s;
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
