<template lang="pug">
  .tabs
    .tabs-controls
      .container
        button.tab-control(
          v-for="(tab, index) in tabs"
          :key="index"
          :class="{'tab-control--active': activeTab === tab}"
          @click="switchTab(tab)"
        ).tab-control
          slot(
            :name="tabHeadSlotName(tab)"
            )
            | {{ tab }}
    .container
      .tab-content
        slot(:name="tabPanelSlotName")
</template>

<script>
import { TimelineMax } from 'gsap'

export default {
  name: 'AppTabs',
  props: {
    initialTab: {
      type: String,
      default: '0'
    },
    tabs: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      activeTab: this.initialTab
    }
  },
  computed: {
    tabPanelSlotName() {
      return `tab-content-${this.activeTab}`
    }
  },
  methods: {
    tabHeadSlotName(tabName) {
      return `tab-control-${tabName}`
    },

    switchTab(tabName) {
      this.activeTab = tabName

      const timelineMachine = new TimelineMax()
      const timelineContent = new TimelineMax()

      timelineMachine.fromTo(
        '.tab-content__picture img',
        0.4,
        { scale: 0 },
        { scale: 1 }
      )

      timelineContent.fromTo(
        '.tab-content__description',
        0.6,
        { opacity: 0 },
        { opacity: 1 }
      )
    }
  }
}
</script>

<style lang="scss">
// .tabs-controls {
//   width: 100%;
//   border-top: 1px solid #bdbdbd;
//   border-bottom: 1px solid #bdbdbd;

//   &::-webkit-scrollbar {
//     display: none;
//   }

//   .container {
//     display: flex;
//     flex-flow: row nowrap;

//     @include media($width_xs, 0) {
//       width: fit-content;
//       min-width: 1024px;
//       overflow-x: scroll;
//     }
//   }

//   @include media($width_xs, 0) {
//     overflow-x: scroll;
//     overflow-y: hidden;
//     box-sizing: content-box;
//     scrollbar-width: none;
//   }
// }

// .tab-control {
//   padding: 18px 0;
//   position: relative;
//   cursor: pointer;
//   outline: none;
//   border: none;
//   background-color: transparent;

//   &:after {
//     content: '';
//     position: absolute;
//     left: 50%;
//     bottom: -1.5px;
//     height: 3px;
//     width: 0;
//     background-color: $color-primary;
//     border-radius: $brs;

//     @include media($width_xs, 0) {
//       bottom: 0;
//     }
//   }

//   &:not(:last-of-type) {
//     margin-right: 40px;
//   }

//   @include media($width_xs, 0) {
//     white-space: nowrap;
//   }
// }

// .tab-control--active {
//   position: relative;

//   &:after {
//     width: 100%;
//     left: 0;
//     transition-property: width, left;
//     transition-duration: 0.3s;
//   }
// }

// .tab-content {
//   padding: 120px 0;
//   display: grid;
//   gap: 60px;
//   align-items: start;
//   grid-template-columns: repeat(2, 1fr);

//   &__picture {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 580px;

//     &:after {
//       content: '';
//       position: absolute;
//       left: 50%;
//       top: 50%;
//       width: 580px;
//       height: 580px;
//       border-width: 100px;
//       border-radius: 50%;
//       border-color: $color-circles;
//       border-style: solid;
//       transform: translate(-50%, -50%);

//       @include media($width-container, 0) {
//         width: 580px / $width-container * 100vw;
//         height: 580px / $width-container * 100vw;
//         border-width: 100px / $width-container * 100vw;
//       }

//       @include media($width_xs, 0) {
//         width: 580px / $width_xs * 100vw;
//         height: 580px / $width_xs * 100vw;
//         border-width: 100px / $width_xs * 100vw;
//       }
//     }

//     img {
//       position: relative;
//       z-index: 1;
//       max-width: 100%;
//       height: auto;
//     }

//     @include media($width-container, 0) {
//       min-height: 580px / $width-container * 100vw;
//     }

//     @include media($width_xs, 0) {
//       margin: auto;
//       max-width: 580px / $width_xs * 100vw;
//       min-height: 580px / $width_xs * 100vw;
//     }
//   }

//   &__description {
//     display: flex;
//     flex-flow: column nowrap;

//     > .btn {
//       @include media($width_xs_s, 0) {
//         max-width: 100%;
//       }
//     }
//   }

//   @include media($width_xs, 0) {
//     gap: 20px / $width_xs * 100vw;
//     padding: 60px / $width_xs * 100vw 0;
//     grid-template-columns: repeat(1, 1fr);
//   }
// }
</style>
