<template lang="pug">
  .tooltip
    nuxt-link(:to="pathTo").tooltip__icon
      svg-icon(name="icon-plus")
    p.tooltip__text
      | {{ text }}
</template>

<script>
export default {
  name: 'AppTooltip',
  props: {
    positionX: {
      type: String,
      default: '0'
    },
    positionY: {
      type: String,
      default: '0'
    },
    pathTo: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.tooltip {
  position: absolute;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;

  &__icon {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $color-white;
    background-color: $color-primary;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid $color-white;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
      animation: pulseCircle 3s infinite;
    }

    svg {
      fill: $color-white;
      width: 22px;
      height: 22px;
    }

    @include media($width_md, 1) {
      &:hover,
      &:focus {
        &:before {
          animation: paused;
        }

        + .tooltip__text {
          opacity: 1;
          z-index: 2;
          transition: opacity 0.4s;
        }
      }
    }
  }

  &__text {
    position: absolute;
    bottom: 100%;
    border-radius: $brs;
    padding: 14px;
    opacity: 0;
    margin-bottom: 25px;
    font-size: $fz-small;
    background-color: $color-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    width: 185px;
    transition: opacity 0.4s;

    &:after {
      @include triangle($color-white, 15px, down);
      content: '';
      position: absolute;
      bottom: -15px;
      left: calc(50% - 15px);
    }
  }
}
</style>
